.profile {
	padding: 10px;
}
.profile h3 {
	color: white;
	text-indent: 20px;
	font: 600 20px verdana;
}
.profile img {
	display: inline;
	width: 350px;
	height: 360px;
	float: right;
	border: 5px solid #ccc;
}
.profile ul {
	float: left;
	width: 400px;
	margin-top: 20px;
	border: 2px solid #ccc;
}
.profile p {
	float: left;
	width: 360px;
	padding: 20px;
	height: 200px;
	margin-top: 20px;
	border: 2px solid #ccc;
}
