#pagerc {
}
#pagerc .titlebar {
	background: url('./images/titlebar.background.gif') repeat-x;
	text-align: right;
}
#pagerc .titlebar img {
	float: right;
}
#pagerc .body {
}
#pagerc .body img{
}
