#MVCManager {
position: absolute;
left: 800px;
top: 100px;
border: 2px solid #000;
background: #fff;
}
#MVCManager li a {
display: block;
padding: 3px 20px;
background: #eee;
}
#MVCManager li a.current {
background: #fcc;
}
#MVCManager li a:hover {
background: #ccf;
}
