<h1>MadProgramManager</h1>
<ul class='navi'>
	<li><a href='/mad/programManager/write'>새로 만들기</a></li>
</ul>
<div id='MadProgramManager'>
<? foreach( $programs as $program => $units ) : ?>
	<h2><?=$program?></h2>
<dl>
	<? foreach( $units as $id => $page ) : ?>
		<? if ( is_array($page) ) : ?>
			<dt><?=$id?></dt>
			<? foreach( $page as $value ): ?>
			<dd><a href='<?=$value?>'><?=$value?></a></dd>
			<? endforeach; ?>
		<? else : ?>
			<dt><?=$id?></dt>
			<dd><a href='<?=$page?>'><?=$page?></a></dd>
		<? endif ?>
	<? endforeach; ?>
</dl>
<? endforeach; ?>
</div>
