.MadXForm {
	float: left;
	width: 100%;
}
.MadXForm textarea {
	width: 80%;
	border: 1px solid #ccc;
}
.MadXForm input[type='text'] {
	width: 80%;
	border: 1px solid #ccc;
}
.MadXForm .selected {
	background: #ddf;
}
/***************** MadXDate ****************/
.btnMadXDate {
}
#MadDateSelector {
position: absolute;
top: 100px;
left: 100px;
width: 140px;
background: #fff;
border: 1px solid #333;
}
#MadDateSelector .day {
float: left;
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
background: #eef;
}
#MadDateSelector .emptyDay {
float: left;
width: 20px;
height: 20px;
background: #ccc;
}
#MadDateSelector .monthYearSelector {
text-align: center;
}
/****************** MadXTerm ********************/
.MadXDate {
width: 70px;
}
#MadXTerm {
position: absolute;
border: 1px solid #333;
background: #f8f1dc;
width: 300px;
top: 100px;
left: 100px;
}
#MadXTerm li {
float: left;
width: 65px;
padding: 5px;
}
.btnMadXDate {
}
#MadDateSelector {
position: absolute;
top: 100px;
left: 100px;
width: 140px;
background: #fff;
border: 1px solid #333;
}
#MadDateSelector .day {
float: left;
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
background: #eef;
}
#MadDateSelector .emptyDay {
float: left;
width: 20px;
height: 20px;
background: #ccc;
}
#MadDateSelector .monthYearSelector {
text-align: center;
}
.MadXDate {
width: 70px;
}
#MadXTerm {
position: absolute;
border: 1px solid #333;
background: #f8f1dc;
width: 300px;
top: 100px;
left: 100px;
}
#MadXTerm li {
float: left;
width: 65px;
padding: 5px;
}



/********************** madXFormWriter **********************/
.madXFormWriter {
position: absolute;
top: 120px;
left: 10%;
width: 80%;
z-index: 1005;
background: #fff;
}
.madXFormWriter input {
	border: 1px solid #ccc;
	width: 80%;
}
.madXFormWriter .buttons {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
}
.madXFormWriter button {
	padding: 5px;
	border: 1px solid #ccc;
	background: #fff;
}
.madXFormWriter button:hover {
	background: #fdd;
}
