<h1>Database List</h1>

<table class='adminTable'>
<thead>
	<tr>
		<th>DB명</th>
		<th>Database 정의서</th>
	</tr>
</thead>
<tbody>
	<? foreach ( $list as $row ): extract($row); ?>
	<tr>
		<td><a href='~/table/list?database=<?=$Database?>'><?=$Database?></a></td>
		<td>
			<a href='~/database/definitionList?database=<?=$Database?>'>보기</a>
			<a href='~/pdf/downloadLocation?url=/crm/database/definitionList?database=<?=$Database?>'>다운로드</a>
		</td>
	</tr>
	<? endforeach; ?>
</tbody>
</table>

<? if ( $list->isEmpty() ) : ?>
	<p class='noContent'>리스트가 없습니다.</p>
<? endif; ?>
<?=$list->getPageNavi()?>
