[submodule "vendors/foundation"]
	path = vendors/foundation
	url = git@github.com:zurb/foundation.git
[submodule "vendors/ckeditor"]
	path = vendors/ckeditor
	url = git@github.com:ckeditor/ckeditor-releases.git
[submodule "vendors/codeMirror"]
	path = vendors/codeMirror
	url = git@github.com:codemirror/CodeMirror.git
[submodule "vendors/datetimepicker"]
	path = vendors/datetimepicker
	url = git@github.com:xdan/datetimepicker.git
[submodule "vendors/jQueryFileUpload"]
	path = vendors/jQueryFileUpload
	url = git@github.com:blueimp/jQuery-File-Upload.git
[submodule "vendors/bootstrap-sass"]
	path = vendors/bootstrap-sass
	url = git@github.com:twbs/bootstrap-sass.git
