<h1>{id} Index</h1>

<nav class='component'>
	<a href='./'>Index All</a>
	<a href='./write'>Write</a>
</nav>

<form id='{id}Index' class='list' method='post' action='./delete'>

	<nav class='listHeader'>
		<span class='title'>Items List</span>
		<span class='total'>[searched :  <?=$list->getSearchTotal() ?>]</span>
		<nav class='rows'>
			<span>Rows : </span>
		<? foreach( $list->getConfig('rows') as $rows ) : ?>
			<? if ( $rows == $list->getSetting('rows') ) : ?>
			<b><?=$rows?></b>
			<? else : ?>
			<a href='?<?=PxParam::replace("rows=$rows&page=1"); ?>'><?=$rows?></a>
			<? endif; ?>
		<? endforeach; ?>
		</nav>
	</nav>

	<table class='simple'>
		<thead>
			<tr>
				<th>id</th>
				<th>title</th>
				<th>date</th>
			</tr>
		</thead>
		<tbody>
			<? foreach( $list as $row ): ?>
			<tr>
				<td><?=$row->id?></td>
				<td class='title'><a href='./view?id=<?=$row->id?>'><?=$row->title?></a></td>
				<td><?=substr($row->ctime, 0, 10);?></td>
			</tr>
			<? endforeach; ?>
		</tbody>
	</table>

	<? if ( $list->isEmpty() ) : ?>
	<p class='notice'>No searched list.</p>
	<? endif; ?>

	<?=$list->getPageNavi()?>

</form>
