<h1>{id} Write</h1>

<nav class='component'>
	<a href='./'>Index</a>
</nav>

<form id='{id}Write' class='simple' method='post'
		<? if ( $model->id ): ?>
		action='./insert'
		<? else : ?>
		action='./update'
		<? endif; ?>
		>

	<input type='hidden' id='id' name='id' value='<?=$model->id?>' />
	<ul>
		<li>
			<label for='mad'>madlabel</label>
			<input type='text' id='madid' name='madname' value='<?=$model->mad?>' />
		</li>
	</ul>
	<nav class='buttons'>
		<button type='submit'>save</button>
	</nav>
</form>
