<? extract($view); ?>
<div id='<?=$this->table?>' class='madboardView'>
	<dl class='view'>
		<dt>
		<ul>
			<li>
			<span>no : </span>
			<b><?=$no?></b>
			</li>
			<li>
			<span>Writer : </span>
			<b><?=$id?></b>
			</li>
			<li>
			<span>Date : </span>
			<b><?=$w_date?></b>
			</li>
		</ul>
		<div>
			<span>Title : </span>
			<b><?=$title?></b>
		</div>
		</dt>
		<dd><?=nl2br($contents)?></dd>
	</dl>
	<?=$comment?>
	<div class='buttons'>
		<a href='?mode=lst'>목록보기</a>
		<a href='?mode=write'>쓰기</a>
		<a href='?mode=rewrite&no=<?=$no?>' type='submit'>고치기</a>
	</div>
	<form method='post'>
		<input type='hidden' name='table' value='<?=$this->table?>' />
		<input type='hidden' name='mode' value='del' />
		<input type='hidden' name='no' value='<?=$no?>' />
		<? if ( empty($_SESSION['id'])) : ?>
		<input type='password' name='pw' />
		<? endif; ?>
		<button type='submit'>삭제</button>
	</form>
</div>
