<h1>Table List</h1>

<table class='adminTable'>
<thead>
	<tr>
		<th>테이블 명</th>
		<th>이름</th>
	</tr>
</thead>
<tbody>
	<? foreach ( $list as $row ): $row->interpret('oracle')?>
	<tr>
		<td><a href='view?file=<?=$row->getFile()?>'><?=$row->name?></a></td>
		<td><a href='view?file=<?=$row->getFile()?>'><?=$row->label?></a></td>
	</tr>
	<? endforeach; ?>
</tbody>
</table>

<? if ( $list->isEmpty() ) : ?>
	<p class='noContent'>리스트가 없습니다.</p>
<? endif; ?>

<ul class='naviButtons'>
	<li><a href='createFromConfigs?database=<?=$g->get->database?>'>이 프로젝트의 config로 부터 생성</a></li>
	<li><a href='viewAll?database=<?=$g->get->database?>'>출력용 전체보기</a></li>
	<li><a href='downloadPdf'>pdf 다운로드</a></li>
</ul>
