<h1>Interview Read</h1>

<form id='InterviewRead' method='post' action='update'>
	<h2>file : <input type='text' id='file' name='file' value='<?=baseName($model->file)?>' /></span></h2>
	
	<textarea id='content' name='content'><?=$model->content?></textarea>
	<ul id='markers'>
		<li id='project'>프로젝트</li>
		<li id='component'>컴포넌트</li>
		<li id='interface'>인터페이스</li>
	</ul>

	<ul class='buttons'>
		<li><button id='analyze'>분석</button></li>
		<li><button>저장</button></li>
	</ul>
</form>

<ul class='componentNavi'>
	<li><a href='.'>인터뷰 목록</a></li>
</ul>
