@import 'base_ext.css';
@import 'top.css';
@import 'left.css';
@import 'main.css';
@import 'right.css';
@import 'bottom.css';
@import 'temp.css';

#container {
	position: absolute;
	left: 50%;
	width: 947px;
	margin-left: -450px;
}
#top {
	width: 100%;
}
#left {
	float: left;
	width: 200px;
}
#middle {
	float: left;
	width: 100%;
	margin-top: 50px;
}
#main {
	float: right;
	width: 680px;
}
#bottom {
	float: left;
	width: 100%;
	height: 100px;
	margin-top: 20px;
	padding: 10px 0;
	font: 12px arial;
	text-align: center;
	background: url(/mad/images/bottom.jpg) no-repeat center top ;
}
