#bottomLogo {
	float: left;
	margin-top: 8px;
	margin-left: 30px;
	padding: 10px 25px 10px 0px;
	border-right: 1px solid #999;
}
#bottomNavi {
float: left;
	   margin-left: 20px;
	   margin-top: 10px;
}
#bottomNavi a {
float: left;
font: 600 11px arial;
padding: 3px 15px 0 3px;
		 border-left: 3px solid #ccc35b;
}
#bottomNavi a:hover {
color: #aaa35b;
}
#copyright {
float: left;
	   margin-top: 20px;
width: 600px;
text-align: center;
}
