#baseNavi {
	float: right;
}
#baseNavi li {
	float: left;
}
#baseNavi li a {
	float: left;
	padding: 3px 7px;
	font: 600 12px ±¼¸²;
}
#mainNavi {
	float: right;
	clear: right;
	margin-top: 20px;
	width: 670px;
}
#mainNavi li {
	float: left;
}
#mainNavi li a {
	float: left;
	padding: 5px 20px;
	margin: 2px;
	border: 1px solid #ccc;
}
#mainNavi li a:hover {
	border: 1px solid #eef;
	background: #f3f3ff;
}
#subNavi {
	float: right;
	clear: right;
}
#subNavi li {
	float: left;
}
#subNavi li a {
	float: left;
	padding: 5px;
	margin: 2px;
	border: 1px solid #ccc;
}#subNavi li a:hover {
	border: 1px solid #eeeec0;
	background: #ffffe0;
}

