<h1><?=_("Item Machine Event")?></h1>

<nav class='component'>
	<a href='./'><?=_("index")?></a>
	<a href='./write'><?=_("write")?></a>
</nav>

<section class='list'>

	<table class='simple'>
		<thead>
			<tr>
				<th><?=_("Id")?></th>
				<th><?=_("Name")?></th>
				<th><?=_("Client Code")?></th>
				<th><?=_("Customable")?></th>
				<th><?=_("Status")?></th>
				<th><?=_("Date")?></th>
			</tr>
		</thead>
		<tbody>
			<? foreach( $list as $row ): ?>
			<tr>
				<td><?=$row->id?></td>
				<td class='title'><a href='./write?id=<?=$row->id?>'><?=$row->name?></a></td>
				<td><?=$row->client_code?></td>
				<td><?=$row->customable?></td>
				<td><?=$row->status?></td>
				<td><?=current( explode(' ',$row->utime) ) ?></td>
			</tr>
			<? endforeach; ?>
		</tbody>
	</table>

	<? if ( $list->isEmpty() ) : ?>
	<p class='notice'><?=_("No searched list.")?></p>
	<? endif; ?>

</section>
