#ItemMachineEventWrite {
	position: relative;
	background: #ffffff;
}
#ItemMachineEventWrite ul li {
position: static;
}
#description {
width: 600px;
height: 200px;
}
/*************************** #eventSelector ***************************/
#eventSelector {
position: absolute;
top: 10px;
right: 10px;
width: 500px;
border: 1px solid #000000;
z-index: 10;
background: #ffffff;
}
#eventSelector h1 {
position: relative;
margin: 0;
font-size: 15px;
border-bottom: 3px double #000000;
background: #cccccc;
padding: 2px 10px;
}
#eventSelector h1 b {
position: absolute;
font-size: 10px;
right: 6px;
top: 3px;
cursor: move;
}
#eventSelector h1 a {
color: #000000;
}
#eventSelector dl.noSub {
display: inline;
}
#eventSelector dl dt {
font-size: 12px;
display: inline;
background: #ffffff;
padding: 0;
margin-top: 1px;
}
#eventSelector dl dd {
margin: 0;
border: 0;
}
#eventSelector dl dt input {
display: none;
}
#eventSelector dl dt label {
background: #cfccfc;
border: 1px solid #9c99c9;
border-radius: 10px 10px 10px 10px;
display: inline-block;
padding: 2px 20px;
text-align: right;
width: auto;
}
#eventSelector dl dt label:hover {
background: #ddfddf;
}
#eventSelector dl dt label.checked {
background: #fccfcc;
}
#eventSelector nav.tree > dl {
border-bottom: 1px solid #000000;
}
#eventSelector nav.tree > dl > dt {
border: 0;
}
