<div id='<?=$this->table?>' class='<?=$this->program?>'>
	<table>
		<tr>
			<th>프로젝트 이름</th>
			<th>목표</th>
			<th>완료예정일</th>
			<th>진행도</th>
			<th>프로젝트 매니저</th>
		</tr>
		<? while ( $row = $q->row() ) {
		extract($row); ?>
		<tr>
			<td class='title'>
				<a href='?<?=$this->program?>=view&no=<?=$no?>'><?=$projectName?></a>
			</td>
			<td><?=$goal?></td>
			<td><?=$e_date?></td>
			<td><?=$progress?></td>
			<td><?=$PM?></td>
		</tr>
		<? } ?>
	</table>
	<?=$buttons?>
</div>
