#MadNote {
position: absolute;
z-index: 100;
top: 40px;
left: -45px;
cursor: pointer;
}
#MadNoteInstance {
position: absolute;
width: 150px;
height: 100px;
z-index: 101;
top: 90px;
left: -90px;
}
#MadNoteInstance dl {
}
#MadNoteInstance dt {
width: 100%;
height: 18px;
	   text-align: right;
background: #ccc;
}
#MadNoteInstance dd {
width: 150px;
}
#MadNoteInstance textarea {
width: 150px;
height: 81px;
border: 0;
font: 11px arial;
overflow: auto;
background: #ffff99;
}
#MadNoteClose {
float: right;
cursor: pointer;
}
#MadNoteSave {
float: left;
cursor: pointer;
}
.MadNotes {
position: absolute;
z-index: 110;
cursor: pointer;
}
.MadNotes dt {
background: #ccf;
}
.MadNotes dd {
width: 150px;
font: 11px verdana;
background: #ff9;
}

.MadNoteMark {
background: #ff9;
}
