<style> @import 'contract_list.css'; </style>
<div id='contractList'>
	<table>
		<tr>
			<th>No</th>
			<th>업체명</th>
			<th>전화번호</th>
			<th>대 표 자 (담당자)</th>
			<th>Date</th>
			<th>Del</th>
		</tr>
		<? while ( $list = mysql_fetch_array($result) ):
		extract(sqlout($list)); ?>
		<tr>
			<td><?=$no?></td>
			<td><a href='?mode=view&no=<?=$no?>'><?=$company?></a></td>
			<td><?=$tel?></td>
			<td><?=$client?></td>
			<td><?=$w_date?></td>
			<td><form method='post' action='?mode=del'>
					<input type='hidden' name='no' value='<?=$no?>' />
					<input type='submit' value='del' />
			</form></td>
		</tr>
		<? endwhile ?>
	</table>
</div>
