<form id='<?=$this->table?>' class='madboardWrite madXForm' method='post'>
	<input type='hidden' name='<?=$this->program?>' value='ins' />
	<ul>
		<? if ( ! $madlog->isLogin() ): ?>
		<li><label>작성자</label><input type='text' name='id' /></li>
		<li><label>패스워드</label><input type='password' name='pw' /></li>
		<? endif; ?>
		<li><label>제목</label><input type='text' name='title' /></li>
	</ul>
	<div class='content'><?=$content?></div>
	<div class='buttons'>
		<a class='btnSubmit'>저장</a>
	</div>
</form>
