<?=$this->navi?>
<h2>Year List</h2>
<div id='<?=$this->table?>' class='<?=$this->program?>MonthList'>
<table>
<tr>
	<th>날자</th>
	<th>금액</th>
</tr>
<?
$oldMonth = '';

while( $row = $q->row() ):
	extract($row);
	$currentYM = substr($buyDate,0,-3);
	if ( empty($oldMonth)) {
		$monthlySum += $costSum;
		$oldMonth = $currentYM;
		continue;
	}
	if ( $oldMonth ==  $currentYM ) {
		$monthlySum += $costSum;
		continue;
	} else {
	?>
<tr>
	<td><?=$oldMonth?></td>
	<td class='price'><a href='?<?=$this->program?>=monthList'><?=$monthlySum?></a></td>
</tr>
	<?
	$oldMonth = $currentYM;
	$monthlySum = $costSum;
	}
	?>
	<? endwhile; ?>
<tr>
	<td><?=$oldMonth?></td>
	<td class='price'><a href='?<?=$this->program?>=monthList'><?=$monthlySum?></a></td>
</tr>
	</table>
</div>
