<h1>New Component</h1>
<form id='scaffold' method='post' action='./save'>
	<ul>
		<li>
			<label for='name'>Name</label>
			<input type='text' name='name' id='name' />
		</li>
		<li>
			<label for='label'>Label</label>
			<input type='text' name='label' id='label' />
		</li>
		<li>
			<label for='description'>Description</label>
			<input type='text' name='description' id='description' />
		</li>
		<li>
			<fieldset id='controllerType'>
			<legend>Controller Type</legend>
				<input type='radio' name='controllerType' id='php' value='php' checked='checked' />
				<label for='php' title='typical controller'>Php</label>
				<input type='radio' name='controllerType' id='js' value='js' />
				<label for='js'>Javascript</label>
			</fieldset>
		</li>
		<li>
			<fieldset id='modelDataType'>
			<legend>Model Type</legend>
				<input type='radio' name='modelType' id='database' value='database' checked='checked' />
				<label for='database'>Database</label>
				<input type='radio' name='modelType' id='json' value='json' />
				<label for='json'>Json</label>
				<input type='radio' name='modelType' id='xml' value='xml' />
				<label for='xml'>Xml</label>
			</fieldset>
		</li>
		<li>
			<fieldset id='viewType'>
			<legend>View Type</legend>
				<input type='radio' name='viewType' id='separate' value='separate' checked='checked' />
				<label for='separate'>Seprate</label>
				<input type='radio' name='viewType' id='allInOne' value='allInOne' />
				<label for='allInOne'>All In One</label>
			</fieldset>
		</li>
		<li>
			<fieldset id='options'>
				<input type='checkbox' name='createMvc' id='createMvc' value='1' checked='checked' />
				<label for='createMVC'>createMVC</label>
				<input type='checkbox' name='addSitemap' id='addSitemap' value='1' checked='checked' />
				<label for='addSitemap'>Add in Sitemap</label>
			</fieldset>
		</li>
	</ul>
	<ul class='buttons'>
		<li><button>Create</button></li>
		<li><button type='reset'>Cancel</button></li>
	</ul>
</form>
