<style>
#MadCart {
	width: 100%;
}
#MadCart table {
width: 100%;
}
#MadCart th {
height: 25px;
border-bottom: 3px double #ccc;
border-right: 1px solid #ccc;
background: #eef;
}
#MadCart .price {
	text-align: right;
}
#MadCart .last {
	border-right: 0;
}
#MadCart td {
	border-bottom: 1px solid #ccc;
}
#MadCart .total {
font: 600 12px 바탕;
color: #fe4520;
}
#MadCart .payment {
float: left;
width: 400px;
margin-top: 15px;
}
#MadCart .payment dt, 
#MadCart .payment dd {
	margin-top: 5px;
float: left;
width: 150px;
height: 25px;
text-align: right;
padding-right: 20px;
line-height: 25px;
}
#MadCart .payment dt {
background: #eef;
}
#MadCart .payment dd {
width: 100px;
margin-left: 20px;
background: #eee;
}
#quantity {
	border: 1px solid #eee;
	width: 2em;
		   text-align: right;
}
</style>
<div id='MadCart'>
<table>
<thead>
<tr>
<th>주문상품</th>
<th>컬러</th>
<th>사이즈</th>
<th>적립금</th>
<th>가격</th>
<th>수량</th>
<th>소계</th>
<th class='last'>삭제</th>
</tr>
</thead>
<? 
$total = 0;
$reservingTotal = 0;
$form = new MadForm();
if ( ! empty($_SESSION['MadCart']) ) :
	$cart = $_SESSION['MadCart'];
	foreach( $cart as $value ) :
		extract( $value );
		$q = new Q("select * from MadMall_aune where no='$serialNo' limit 1");
		$row = $q->row();
		$colors = explode(',',$row['color']);
		$color = $form->select('color',$colors,$color);
		$clothSizes = explode(',',$row['clothSize']);
		$clothSize = $form->select('clothSize',$clothSizes,$clothSize);
		$reserving = $row['reserving'];
		$price = $row['price'];
		$quantity = empty($quantity) ? 1:$quantity;
		$subSum = $price * $quantity;
		$quantity = $form->text('quantity',$quantity);
		$reservingTotal += $reserving;
		$total += $subSum;
?>
		<tr>
		<td>
			<a href='/aune/product/view?no=$serialNo'>
			<img width='50px' height='60px' src='<?=$row['listImage']?>' /> <?=$row['productName']?>
		</a>
			</td>
		<td><?=$color?></td>
		<td><?=$clothSize?></td>
		<td class='price'><?=$reserving?></td>
		<td class='price'><?=$price?></td>
		<td><?=$quantity?></td>
		<td class='price'><?=$subSum?></td>
		<td><img class='removeItem' src='/aune/images/cart/delete.gif' /></td>
		</tr>
		<? endforeach; ?>
		<? endif; ?>
		<?
		$deliveryPrice = ($total >= 40000) ? 0:2500;
		$totalPayment = $total + $deliveryPrice;
		?>
		<tr>
<td colspan='3'></td>
<td>적립금</td>
<td class='price'><?=$reservingTotal?></td>
<td>합계</td>
<td class='total price'><?=$total?></td>
<td><img id='removeAllItems' src='/aune/images/cart/delete.gif' /></td>
</tr>
</table>
<dl class='payment'>
	<dt>상품가격</dt>
	<dd><?=$total?></dd>
	<dt>배송비</dt>
	<dd><?=$deliveryPrice?></dd>
	<dt>결재금액</dt>
	<dd><?=$totalPayment?></dd>
</dl>
<div class='buttons'>
	<a href='/aune/shopping/pay/'>구매하기</a>
	<a href='/aune/'>비우기</a>
	<a href='/aune/'>쇼핑계속</a>
	<a href='/aune/'>수량변경</a>
</div>
</div>
