header {
	width: 100%;
	padding: 1px 0;
	background: #999;
	z-index: 1000;
	border-bottom: 2px solid #000;
}
header #logo {
display: inline-block;
padding: 0px 10px;
margin-left: 0px;
font-size: 13px;
font-weight: 600;
color: #000000;
text-decoration: none;
}
/************** header nav.menu **************/
header nav.menu {
position: relative;
display: inline;
margin-left: 20px;
}
header nav.menu a {
	display: inline-block;
	margin-left: 5px;
	padding: 2px 20px;
	border: 1px solid #000;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	color: #000;
	background: #ccd;
}
header nav.menu a:hover {
	text-decoration: none;
	background: #ddf;
}
/************** nav.component **************/
header nav.component {
	bottom: 0;
	width: 100%;
	text-align: right;
	padding: 1px 0;
	border-top: 1px solid #000;
	background: #eee;
	z-index: 1000;
}
header nav.component>a {
	display: inline-block;
	padding: 1px 10px;
	border: 1px solid #777777;
	border-radius: 5px;
	font-size: 11px;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
	background: #ddddff;
}
header nav.component>a:hover {
	background: #bbbbff;
}
/**************** header section.popup ****************/
header section.popup {
position: absolute;
display: none;
top: 25px;
right: 5px;
border: 3px solid #000;
min-width: 100px;
min-height: 100px;
z-index: 1001;
background: linear-gradient( #eee, #aaa );
}
header section.popup>h1 {
display: none;
}
/****************** nav.personal ******************/
nav.personal {
position: absolute;
display: block;
top: 1px;
right: 10px;
}
nav.personal>a {
display: inline-block;
padding: 1px 5px;
border: 1px solid #aaa;
border-radius: 5px;
font-size: 12px;
font-weight: 600;
color: #000;
text-decoration: none;
background: #fcc;
}
nav.personal a:hover {
background: #fee;
}

/************** #left ****************/
#left {
font-size: 11px;
position: absolute;
left: 0;
top: 40px;
width: 200px;
padding-bottom: 100px;
overflow: hidden;
z-index: 10;
border: 1px solid #000;
}
#left h1 {
border-bottom: 2px solid #000;
padding: 3px 5px;
background: #ccc;
}
#left ul {
list-style: none;
}
#left li {
margin: 1px 0 0 1px;
border-bottom: 1px solid #000;
text-align: center;
}
#left a {
text-decoration: none;
display: inline-block;
background: #ccf;
border-radius: 10px;
font-size: 11px;
color: #000;
padding: 1px 5px;
}
/********************* main *********************/
main {
position: relative;
margin-right: 310px;
border: 2px solid #000;
min-height: 90%;
padding-bottom: 30px;
font-size: 100%;
}
main > h1 {
padding: 2px 10px;
font-size: 12px;
font-weight: 600;
border-bottom: 2px solid #000;
background: #ddd;
}
main pre {
min-height: 100%;
}
/********************* Journal *********************/
#JournalWrite label {
display: none;
}
#JournalWrite textarea {
width: 100%;
border: 0;
border-bottom: 2px solid #000;
height: 600px;
}
form.write nav.buttons {
text-align: center;
}
#JournalView {
unicode-bidi: embed;
font-family: monospace;
white-space: pre;
}
/********************* #right *********************/
#right {
font-size: 11px;
position: absolute;
right: 0;
top: 40px;
width: 300px;
padding-bottom: 10px;
overflow: hidden;
z-index: 10;
border: 1px solid #000;
}
#right h1 {
border-bottom: 2px solid #000;
background: #ccc;
padding: 2px;
}
#right nav.tab {
margin-top: 2px;
}
#right nav.tab a {
display: inline-block;
color: #000;
background: #eef;
border: 1px solid #000;
border-bottom: 0;
padding: 1px 3px 0 3px;
font-size: 10px;
border-radius: 5px 5px 0 0;
}
#right nav.tab a:hover {
background: #ccf;
}

/* -- for Backlog -- */
#right section.view {
border-top: 2px solid #000;
}
#right section.view h1 {
display: none;
}
#right section.view dl nav a {
display: block;
color: #000;
border-radius: 3px 3px 0 0;
margin: 1px;
text-decoration: none;
padding: 1px 10px;
white-space: nowrap;
overflow: hidden;
border-bottom: 1px solid #999;
}
#right section.view dl dd nav a span {
display: none;
position: absolute;
right: 10px;
}
#right section.view dl dd nav a.done {
text-decoration: line-through;
background: #ccc;
}
#right section.view dl dd nav a.new {
background: #ffc;
}
#right section.view dl dt {
padding: 1px 2px;
background: #eee;
margin-top: 1px;
}
/********************* right section *********************/
#right>section {
	border-bottom: 2px solid #000;
}
#right section.menu nav a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	background: #666;
	padding: 1px 5px;
	margin: 1px;
	border-radius: 3px;
}
#right section.menu nav a.opened {
	color: #000;
	background: #ddf;
}

/******************** footer ************************/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
}
footer .statusBar {
	padding: 3px 10px;
	font-size: 8pt;
	color: #fff;
	text-align: right;
	background: #000;
}
/******************** form.login ********************/
form.login {
margin: 20px;
padding: 20px;
}
form.login ul {
display: inline-block;
list-style: none;
width: 80%;
font-size: 12px;
}
form.login ul li * {
vertical-align: middle;
}
form.login ul li label {
	display: inline-block;
	width: 30%;
	padding: 3px 20px;
	text-align: right;
	background: #cccccc;
	font-weight: 600;
}
form.login ul li input {
width: 50%;
}
form.login fieldset {
font-size: 12px;
text-align: center;
border: 1px solid #666666;
border-radius: 10px;
padding: 3px 5px;
}
form.login fieldset legend {
background: #ccfccf;
margin-left: 20px;
padding: 3px 20px;
border: 1px solid #666666;
border-radius: 10px;
}
#toggleRight {
display: none;
}

form.login button {
width: 18%;
vertical-align: top;
height: 60px;
}
form.login nav.buttons a {
font-size: 12px;
display: inline-block;
padding: 3px 10px;
border: 2px solid #000000;
border-radius: 5px;
color: #000000;
}
