#baseNavi {
float: right;
}
#baseNavi a {
float: left;
padding: 2px 8px;
		 font-weight: 600;
}
#mainNavi {
float: right;
clear: right;
width: 700px;
}
#mainNavi li {
}
#mainNavi a {
float: left;
padding: 5px 10px;
margin: 5px;
border: 1px solid #ccc;
}
