.MadProject {
	width: 100%;
}
.MadProject table {
	width: 100%;
}
.MadProject th {
	height: 30px;
	background: #eef;
}
.MadProject td {
	height: 22px;
	border-bottom: 1px dashed #ccc;
	line-height: 22px;
}
.MadProject td a {
}
.MadProject .title {
	text-align: left;
}
