<script type='text/javascript' src='/js/MadSitemap.js'></script>
<form id='formAddMethod' method='post' class='box1' style='position: absolute; display: none;'>
	<input type='hidden' name='<?=$this->program?>' value='ins' />
	<input type='hidden' name='act' value='addMethod' />
	<input type='hidden' id='className' name='controller' value='index' />
	<input type='text' id='newMethod' name='method' value='Input Method Name' />
	<input type='text' name='page_level' value='255' />
	<button type='submit'>추가</button>
</form>
<form id='formAddClass' method='post' class='box1' style='position: absolute; display: none;'>
	<input type='hidden' name='<?=$this->program?>' value='ins' />
	<input type='hidden' name='act' value='addClass' />
	<input type='hidden' name='method' value='index' />
	<input type='text' id='newClass' name='controller' value='Input Class Name' />
	<input type='text' name='page_level' value='255' />
	<button type='submit'>추가</button>
</form>
<div id='<?=$this->table?>' class='MadSitemap'>
	<?
	$controller_before = '';
	foreach ( $sitemap as $row ) :
	extract($row); ?>
	<dl class='dl01'>
	<?
	if ( $controller_before == '' || $controller_before != $controller ) :
	$controller_before = $controller;
	?>
	<dt class='box1'>
		<span class='controller'><?=$controller?></span>
		<? if ( $controller == 'index' ) : ?>
		<a id='addClass'>c</a>
		<? endif ?>
		<a class='addMethod'>+</a></dt>
	<? endif; ?>
	<dd style='clear:left'>
	<a class='fl' href='/<?=$this->tableName . '/' . $controller . '/' . $method ?>'><?=$method?></a>
	<span class='fr'>Level : <?=$page_level?></span>
	</dd>
	</dl>
	<? endforeach; ?>
</div>
