<? if ( $form->isLoad() ) : ?>
<h1><?=$form->getLabel()?> 변경</h1>
<? else: ?>
<h1><?=$form->getLabel()?> 작성</h1>
<? endif; ?>

<form id='<?=$form->getId()?>' method='post' action='<?=$form->getAction()?>'>
	<ul class='adminForm'>
		<? foreach( $form as $formUnit ) : ?>
		<li>
			<? if ( $formUnit->isWritable() ) : ?>
				<?=$formUnit->getLabel()?> <?=$formUnit?>
			<? else: ?>
				<span class='title'><?=$formUnit->label?></span>
				<span ><?=$formUnit->value?></span>
			<? endif; ?>
		</li>
		<? endforeach; ?>
	</ul>
	<ul class='buttons'>
		<li><button type='submit'>확인</button></li>
		<li><button type='reset'>취소</button></li>
	</ul>
</form>

<ul class='naviButtons'>
	<li><a class='btnList' href="list">목록보기</a></li>
</ul>
