/************************ #fileBrowser **********************/
.fileBrowser {
	margin: 10px;
	padding: 10px 10px 10px 0;
	border: 3px solid #000;
	border-radius: 10px;
}
.fileBrowser h1 {
display: none;
}
.fileBrowser > h1 {
display: block;
font-size: 13px;
text-align: center;
background: #ccf;
margin-left: 10px;
margin-bottom: 5px;
padding: 5px 0;
border-radius: 10px;
}
ul.fileBrowser {
margin-left: 5px;
padding-left: 5px;
border-left: 1px solid #000;
}
ul.fileBrowser a.dir {
	color: #f60;
	font-weight: 600;
}
ul.fileBrowser a {
	font-size: 12px;
	color: black;
}
ul.fileBrowser a.gettext {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 5px;
	background: #ddf;
	padding: 2px 10px;
}
/************************ nav.personal **********************/

