<h1>View</h1>

<nav class='component'>
	<a href='./gettext'>gettext</a>
</nav>

<ul class='fileBrowser'>
	<? foreach( $files as $file ): ?>
	<? $path = $file->getInfo()->getRealPath(); ?>
	<li>
		<? if ( $file->isDir() ) : ?>
		<a class='dir' href='./index?file=<?=$path?>'><?=$file->getInfo()->getBaseName() ?></a>
		<? else : ?>
		<a href='./view?file=<?=$path?>'><?=$file->getInfo()->getBaseName() ?></a>
		<a class='gettext' href='./gettext?file=<?=$path?>'>gettext</a>
		<? endif; ?>
	</li>
	<? endforeach; ?>
</ul>
