@charset "utf-8";
/* base 공통 제어 */

html, body, div, ul, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form {margin:0;padding:0;}

body, input, textarea, select, buttom{font-size:12px;font-family: "돋움", Dotum, "굴림", Gulim, "Lucida Grande", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif , "나눔고딕";color:#575757;}
.login{font-size:0.8em; line-height:1.4; font-family:dotum, Arial, Verdana, Helvetica, sans-serif; color:#444; background:url(/A_img/common/login_bg.gif) center top  repeat-x;}


/* List */
ul, li, ol, dl{list-style:none;margin:0;padding:0;}

/* Images */
img, input.type-image {border: 0 none;vertical-align:top;}

/* Form */
fieldset{margin:0; padding:0; border:0}
legend {position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;}
p, div,span, th, td, select,a {font-size:12px}/*font-size:1em*/
p {margin:0;padding:0}


/* Input */
textarea{width:100%;}/*border:1px solid #e1e1e1;*/
input, select, textarea {vertical-align: middle;color: #666666;}
input{padding:2px 0}
input.itxt, textarea.itxt{border:1px solid #ddd;}
.itxt{width:120px;}
/* Links */
a:link, a:visited {color: #666666; text-decoration: none}
a:hover, a:active {color: #fa4e1f; text-decoration: none;}
a:focus{}

/* Title */
caption {display:none}

.btn_tit_s{ background:url(../images/common/icon/bullet2.gif) no-repeat; padding-left:15px; font-weight:bold; height:20px; overflow:hidden; color:#3477c6; margin-left:5px; margin-bottom:0}

