@charset "euc-kr";


.calenda_box{float:left; width:750px; margin:25px 0 0 0;}
.calenda_box_bg{float:left; width:717px; background:url(../images/calenda/box_cen.gif); background-repeat:repeat-y;}


.calenda_con{float:left; width:650px; padding: 0 0 0 30px;}
.calenda_con01{float:left; width:340px; vertical-align:middle; padding:0;}
  .calenda_con_date{text-align:left; font-size:12px; color:#0066CC; font-weight:bold; vertical-align:top;}
.calenda_con02{float:left; width:310px; text-align:left; vertical-align:middle; text-align:right;}

	ul.calenda_con01{}
	ul.calenda_t li{display:inline;}
	
.calenda_con_txt{float:left; width:650px; padding: 10px 0 0 30px;}
   .calenda_con_txt1{float:left; width:630px; vertical-align:top; background-color:#f2f2f4; padding:10px 10px 10px 10px;}
     .calenda_con_txt2{float:left; width:610px; vertical-align:top; background-color:#f2f2f4; padding:0px 20px 20px 20px;}
	 
     .calenda_con_txt_blue1{text-align:left; font-size:12px; color:#333; vertical-align:top; color:#0099CC; font-weight:bold; }
	 .calenda_con_txt_blue2{text-align:left; font-size:12px; color:#333; vertical-align:top; color:#0099CC;}
	 .calenda_con_txt_oran1{text-align:left; font-size:12px; color:#333; vertical-align:top; color:#f87f1d; font-weight:bold; }
	 .calenda_con_txt_oran2{text-align:left; font-size:12px; color:#333; vertical-align:top; color:#f87f1d;}
  

/* 스타일 01버전*/
.tbl_cal{width:100%;}/*table-layout:fixed;*/

.tbl_cal thead tr{background:#98c8ea;}
.tbl_cal thead th{height:20px;border:1px solid #75b5e2;text-align:center;color:#fff;border-top:1px solid #75b5e2;font-size:11px}
.tbl_cal thead th.thFirst{/*border-left:none;*/}
.tbl_cal tbody td{height:25px;padding:3px; margin:0;border:1px solid #dcdcdb;text-align:left;vertical-align:top;font-size:11px }
.tbl_cal tbody td.sat{color:#2080D0}
.tbl_cal tbody td.sun{color:#FF8000}

.tbl_cal tbody td.left {text-align:left}
.tbl_cal tbody td.center {text-align:center}
.tbl_cal tbody td.right {text-align:right}


.tbl_cal tbody td.top	{vertical-align:top}
.tbl_cal tbody td.middle	{vertical-align:middle}
.tbl_cal tbody td.bottom		{vertical-align:bottom}



.calendar-data {
	color: #444444;
	font-size:12px; 
	font-weight:bold;
}

.calendar-today {
	color: #444444;
	font-family:"돋움,seoul,helvetica,verdana";
	font-size:12px; background-color:#CCCCCC
	
}


.calendar_sat_s {
	font-family:"돋움, Verdana,Arial";
	font-size:12px;
	color:#0c96b7;
}

.calendar-sun {
	color: #ac0909;
	font-family:"돋움,seoul,helvetica,verdana";
	font-size:12px; 
}


