@charset "utf-8";

/* 타이틀 */	

#sub_left_tit{font-family:"나눔고딕";font-size:20px;color:#333333;letter-spacing:-1px;height:30px;border-bottom:2px solid #666666; width:200px; font-family:"나눔고딕";font-size:20px;}
#sub_right_tit{font-family:"나눔고딕";font-size:23px;color:#3477c6;letter-spacing:-1px;height:30px;border-bottom:1px solid #3477c6;width:870px;
font-weight:bold;padding-left:30px;background:url(../images/common/icon/sub_tit.jpg) no-repeat; margin-bottom:15px}
#sub_right_tit .pagenav{height:15px;float:right;font-family:"돋움";font-size:12px; color:#999;text-align:right;font-weight:normal;position:relative}


.tit_ss_02{background:url(../images/common/icon/home.gif) no-repeat;padding-left:13px;}
.tit_pop{height:23px; padding-left:27px; background:url(../images/common/icon/pop_icon.gif) no-repeat;font-family:"나눔고딕";font-size:16px;font-family:"나눔고딕";font-size:20px; font-weight:bold;}

/* pop */
#pop_area{border-top:4px solid #3477c6;border-bottom:2px solid #3477c6;padding:20px 0 20px 40px;width:560px; overflow:hidden}
#pop_area .btns{float:right; margin-right:20px;}
#pop_area .zone{width:560px; height:30px; text-align:center; margin:20px auto 10px auto;} 

.color_type_01 {color: #64849b; font-weight:bold;}
.color_type_02 {color: #ff0000; font-weight:bold;}
.color_type_03 {color: #ff5400; font-weight:bold;}
.color_type_04 {color: #e7a600; font-weight:bold;}
.color_type_05 {color: #758d00; font-weight:bold;}
.color_type_06 {color: #0098e0; font-weight:bold;}
.color_type_07 {color: #297ea6; font-weight:bold;}
.color_type_08 {color: #c01893; font-weight:bold;}

.btn_area_left{float:left;}
.btn_area_right{float:right;}

/* 웹폰트삽입(나눔고딕, 나눔고딕B) */

@font-face{font-family:"나눔고딕"; 
src: url(../css/nanumgothic.eot); /* IE9 호환성 보기 */
	src: url(../css/nanumgothic.eot?iefix) format("eot"), /* IE6-IE8 */
	     url(../css/nanumgothic.eot) format("woff"), /* Modern Browsers */
	     url(../css/nanumgothic.eot)  format("truetype"), /* Safari, Android, iOS */}
		 
		 


