@charset "utf-8";

#skip_navigation a {display:block; height:1px; width:1px; overflow:hidden;}
#skip_navigation a:focus,
#skip_navigation a:active {height:auto; width:auto; padding:8px 0 8px 460px;}


#main_wrap {position:relative; z-index:2; margin:1px auto; padding:0; width:1000px; text-align:center;}

#main_visual{width:1000px;}

