<h1><?=_("User Index")?></h1>

<nav class='component'>
	<a href='./'><?=_("목록")?></a>
	<? if ( $g->log->inLevel('0-10') ): ?>
	<a href='./write'><?=_("write")?></a>
	<? endif; ?>
</nav>

<h2><?=_("권한별 ID 리스트")?></h2>

<form class='changeSubmit simpleSearch' method='get' action='?'>
	<input type='radio' id='levelAll' name='level' value='' <?=(! $g->get->level)?'checked':''?> />
	<label for='levelAll'><?=_("모두 보기")?></label>
	<? foreach( $model->getConfig('level')->data as $row ): ?>
	<? if ( $row->value <= $g->log->getLevel() ) continue; ?>
	<input type='radio' id='level<?=$row->value?>' name='level' value='<?=$row->value?>' <?=($row->value == $g->get->level)?'checked':''?> />
	<label for='level<?=$row->value?>'><?=_($row->label)?></label>
	<? endforeach; ?>
</form>


<form class='list' method='post' action='./mad'>

	<table class='simple'>
		<thead>
			<tr>
				<th><?=_("국가")?></th>
				<th><?=_("이름")?></th>

				<? if ( $g->log->inLevel('0-1') ): ?>
				<th><?=_("아이디")?></th>
				<? endif; ?>

				<th><?=_("Email")?></th>
				<th><?=_("현재권한")?></th>
				<th><?=_("요청권한")?></th>
				<th><?=_("권한 변경")?></th>
				<th><?=_("Buttons")?></th>
			</tr>
		</thead>
		<tbody>
			<? foreach( $list as $row ): ?>
			<tr>
				<td><?=$row->locale?></td>
				<td><a href='./view?id=<?=$row->id?>'><?=$row->name?></a></td>

				<? if ( $g->log->inLevel('0-1') ): ?>
				<td><a href='./view?id=<?=$row->id?>'><?=$row->userid?></a></td>
				<? endif; ?>

				<td><a href='mailto:<?=$row->email?>'><?=$row->email?></a></td>
				<td><?=$row->levelName?></td>
				<td>
					<? if ( $row->level == 100 ): ?>
					<?=$row->requestName?>
					<a href='./updateLevel?id=<?=$row->id?>&level=<?=$row->request?>'><?=_("가입 승인")?></a>
					<? endif; ?>
				</td>
				<td class='buttons'>
					<? foreach( $model->getConfig('level')->data as $level ): ?>
					<? if ( $level->value <= $g->log->getLevel() ) continue; ?>
					<a href='./updateLevel?id=<?=$row->id?>&level=<?=$level->value?>'><?=$level->label?></a>
					<? endforeach; ?>
				</td>
				<td class='buttons'>
					<a href='./write?id=<?=$row->id?>'><?=_("수정")?></a>
					<a href='./delete?id=<?=$row->id?>'><?=_("삭제")?></a>
				</td>
			</tr>
			<? endforeach; ?>
		</tbody>
	</table>

	<? if ( $list->isEmpty() ) : ?>
	<p class='notice'><?=_("No searched list.")?></p>
	<? endif; ?>

</form>

<?=$list->getPageNavi()?>

<h2><?=_("Login History ")?><a href='~/admin/adminUserLog'><?=_("more")?></a></h2>

<section id='AdminUserLogList' class='list'>
	<table class='simple'>
		<thead>
			<tr>
				<th><?=_("Level Name")?></th>
				<th><?=_("Level")?></th>
				<th><?=_("User Id")?></th>
				<th><?=_("Login Time")?></th>
				<th><?=_("Logout Time")?></th>
			</tr>
		</thead>
		<tbody>
			<? foreach( $adminUserLogList as $row ): ?>
			<tr>
				<td><?=$row->levelName?></td>
				<td><?=$row->level?></td>
				<td><?=$row->userid?></td>
				<td><?=$row->login_time?></td>
				<td><?=$row->logout_time?></td>
			</tr>
			<? endforeach; ?>
		</tbody>
	</table>

	<? if ( $list->isEmpty() ) : ?>
	<p class='notice'><?=_("No search list")?></p>
	<? endif; ?>
</section>
