<div>
	<form name='form_create_board' method='post' action=''>
		<div><span>보드명 : </span><input id='board_name' type='text'></div>
		<div><span>타이틀 : </span><input id='title' type='text'></div>
		<div><span>스킨명 : </span><input id='skin_name' type='text'></div>
		<div><span>view : </span><input id='view_level' type='text'></div>
		<div><span>write : </span><input id='write_level' type='text'></div>
		<div><span>reply : </span><input id='reply_level' type='text'></div>
		<div><span>delete : </span><input id='delete_level' type='text'></div>
		<div><span>comment : </span><input id='comment_level' type='text'></div>
		<div><input type='submit' class='button' /></div>
	</form>
</div>

