<style>@import 'madboard.css';</style>
<form id='madboardWrite' method='post' action='<?=$mode?>'>
	<fieldset>
		<label>id</label>
		<input type='text' id='id' name='id' />
	</fieldset>
	<fieldset>
		<label>password</label>
		<input type='text' id='pw' name='pw' />
	</fieldset>
	<fieldset>
		<label>title</label>
		<input type='text' id='title' name='title' maxlength='50'>
	</fieldset>
	<fieldset>
		<label>contents</label>
		<textarea id='contents' name='contents'></textarea>
	</fieldset>
</form>
<div class='buttons'>
	<input type='submit' value='posting' class='write_button' />
	<button>Cancel</button>
</div>
