#UserStoryList {
}
#UserStoryList dl {
margin-top: 10px;
border: 1px solid #ccc;
}
#UserStoryList dl dt {
position: relative;
background: #ccc;
}
#UserStoryList dl dt .uDate {
position: absolute;
top: 3px;
right: 5px;
color: #666;
font-size: 10px;
}
