<? while( $row = $q->row() ) : 
extract($row);
$content=iconv('euc-kr','utf-8',$content);
?>
<div id='MadNote_<?=$no?>' class='MadNotes' style='position: absolute;
left: <?=$x?>px; top: <?=$y?>px; width: <?=$width?>px;'>
	<input type='hidden' class='MadNoteNo' value='<?=$no?>' />
	<span class='MadNoteMark' title='<?=$content?>'>Note<?=$no?></span>
	<img class='btnMadNoteView' src='/mad/images/btnShowNote.gif' title='show/hide content' />
	<b class='btnMadNoteRemove' title='remove note'>X</b>
	<dl  title='written at: <?=$w_date?>' style='display: none;'>
		<dt>writer : <?=$writer?><dt>
		<dd><?=$content?></dd>
	</dl>
</div>
<? endwhile; ?>
