<style>
.madXFormWriter {
position: absolute;
top: 120px;
left: 10%;
width: 80%;
z-index: 1005;
background: #fff;
}
.madXFormWriter input {
	border: 1px solid #ccc;
	width: 80%;
}
.madXFormWriter .buttons {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
}
.madXFormWriter button {
	padding: 5px;
	border: 1px solid #ccc;
	background: #fff;
}
.madXFormWriter button:hover {
	background: #fdd;
}
</style>
<h2>MadXFormText</h2>
<dl>
	<dt>Type</dt>
	<dd><?=$typeSelector?></dd>
	<dt>Id</dt>
	<dd><input type='text' name='id' /></dd>
	<dt>Title</dt>
	<dd><input type='text' name='title' /></dd>
	<dt>min</dt>
	<dd><input type='text' name='min' /></dd>
	<dt>MAX</dt>
	<dd><input type='text' name='max' /></dd>
	<dt>Brief</dt>
	<dd><input type='text' name='brief' /></dd>
</dl>
<div class='buttons'>
<button type='submit'>저장하기</button>
<button type='reset'>취소하기</button>
</div>
