<form id='MadLogFindPw' method='post'>
	<input type='hidden' name='<?=$className?>' value='updatePw' />
	<input type='hidden' name='mode' value='find_pw' />
	<dl>
		<dt>아이디</dt>
		<dd> <input type='text' name='id' /> </dd>
		<dt>사용자이름</dt>
		<dd><input type='text' name='name' /></dd>
		<dt>이메일 주소</dt>
		<dd>
		<input type='text' name='email[]' />@
		<input type='text' name='email[]' />
		</dd>
		<dt>새 비밀번호</dt>
		<dd><input type='password' name='pw' /></dd>
		<dt>새 비밀번호 확인</dt>
		<dd><input type='password' name='pw_confirm' /></dd>
	</dl>
	<button type='submit'>확인</button>
</form>
