<div id='MadLogList'>
	<table>
		<tr>
			<th><input type='checkbox' id='ckAll' /></th>
			<th>아이디</th>
			<th>이름</th>
			<th>레벨</th>
			<th>마지막 접속일</th>
			<th>로그인 횟수</th>
		</tr>
		<? foreach( $registers as $row ): extract($row); ?>
		<tr>
			<td><input type='checkbox' class='ck' value='<?=$no?>' /></td>
			<td><a href='mailto:<?=$email?>'><?=$id?></td>
			<td><a href='?<?=$className?>=view&no=<?=$no?>'><?=$name?></a></td>
			<td><?=$user_level?></td>
			<td><?=$last_logged_date?></td>
			<td><?=$log_counter?></td>
		</tr>
		<? endforeach; ?>
	</table>
	<?=$pageNavi?>
	<div class='buttons'>
		<a href='?<?=$className?>=write'>새로 생성</a>
	</div>
	<?//=$searchForm?>
</div>
