<form id='MadLogWrite' method='post'>
	<input type='hidden' name='<?=$className?>' value='ins' />
	<dl>
		<dt>이름</dt>
		<dd><input type='text' name='name' /></dd>
		<dt>아이디</dt>
		<dd>
		<input type='text' name='id' />
		<button>아이디 중복 체크</button>
		</dd>
		<dt>패스워드</dt>
		<dd><input type='password' name='pw' /></dd>
		<dt>패스워드 체크</dt>
		<dd><input type='password' name='pw_confirm' /></dd>
		<dt>E-Mail 주소</dt>
		<dd>
		<input type='text' name='email[]' />@
		<input type='text' name='email[]' />
		</dd>
	</dl>
	<button type='submit'>확인</button>
</form>
