#logo {
float: left;
}
#baseNavi {
float: right;
}
#baseNavi li {
float: left;
}
#baseNavi li a {
float: left;
padding: 3px 5px;
}
#mainNavi {
float: right;
clear: right;
}
#mainNavi li {
float: left;
}
#mainNavi li a {
float: left;
border: 1px solid #ccc;
padding: 5px;
margin: 3px;
}
