.MadBlogList dl {
	margin-top: 10px;
	border-bottom: 1px solid #999;
}
.MadBlog {
}
.MadBlog .contents {
	line-height: 140%;
}
.MadBlog .contents p {
padding: 5px 0;
}
.MadBlog dt {
	font: 600 12px ±¼¸²;
	padding: 10px;
	background: #eee;
border-top: 1px solid #999;
}
.MadBlog dt input[type='text'] {
	width: 500px;
padding: 2px;
	border: 1px solid #ccc;
	font: 500 12px ±¼¸²;
}
.MadBlog dd {
	padding: 10px;
	background: #fff;
}
