#jsonView {
border: 5px solid #000;
}

section.jsonView {
	dl {
		font-size: 0.75rem;
		padding: 0;
		dt, dd {
			margin: 0;
			border-bottom: 1px solid #000;
		}
		dt {
			border-left: 1px solid #000;
			background: #fcc;
			cursor: pointer;
		}
		dd {
			input {
			}
		}
	}
}
