<a id='logo' href='~/'>PhpStorm</a>

<ul id='personalNavi'>
	<li><a href='~/quickSearch' title='quick search'>S</a></li>
	<li><a href='~/help/list' title='help'>?</a></li>
	<li><a href='/mad/log/logoutRoot' title='logout'>X</a></li>
</ul>

<dl id='mainNavi'>
	<dt><a href='~/project'>Project</a></dt>
	<dd style='display: none'>
		<ul>
			<li><a target='content' href='~/project/write'>새 프로젝트</a></li>
			<li><a href='~/project/import'>프로젝트 가져오기</a></li>
			<li><a href='~/project/list'>프로젝트 목록</a></li>
			<li><a href='~/interview'>인터뷰 목록</a></li>
			<? if ( $g->project->isOpened() ): ?>
			<li><a href='~/export/presetList'>프로젝트 내보내기</a></li>
			<li><a href='~/project/download'>프로젝트 다운로드</a></li>
			<li><a href='~/project/close'>프로젝트 닫기</a></li>
			<? endif; ?>
		</ul>
	</dd>
	<? if ( $g->project->isOpened() ): ?>
	<dt><a href='~/program'>Program</a></dt>
	<dd style='display: none'>
		<ul>
			<li><a href='~/program/new'>New</a></li>
			<li><a href='~/program/index'>index</a></li>
		<ul>
	</dd>
	<dt><a href='~/plans'>Plans</a></dt>
	<dd style='display: none'>
		<ul>
			<li><a href='~/persona/list'>Persona</a></li>
			<li><a href='~/userStory'>User Story</a></li>
		</ul>
	</dd>
	<dt><a href='~/document'>Documents</a></dt>
	<dd style='display: none'>
		<ul>
			<li><a href='~/diagrams/activity'>Activity</a></li>
			<li><a href='~/diagrams/usecase'>Usecase</a></li>
			<li><a href='~/diagrams/interface'>Interface</a></li>
			<li><a href='~/diagrams/component'>Component</a></li>
			<li><a href='~/diagrams/class'>Class</a></li>
			<li><a href='~/diagrams/tableDiagram'>Table</a></li>
		</ul>
	</dd>
	<dt><a href='~/config'>Configs</a></dt>
	<dd style='display: none'>
		<ul>
			<li><a href='~/config'>Config</a></li>
			<li><a href='~/erm'>Erm</a></li>
			<li><a href='~/ini/write?file=<?=$g->project->getIniFile()?>'>.phpStorm.ini</a></li>
		</ul>
	</dd>
	<dt><a href='~/tools'>Tools</a></dt>
	<dd style='display: none'>
		<ul>
			<li><a href='~/install'>Install</a></li>
			<li><a href='~/test'>Test</a></li>
			<li><a href='~/sync'>Sync</a></li>
			<li><a href='~/svn'>Svn</a></li>
			<li><a href='~/backup'>Backup</a></li>
		</ul>
	</dd>
	<dt><a href='~/Window'>Window</a></dt>
	<dd style='display: none'>
		<ul>
			<li><a href='~/database'>Database</a></li>
		</ul>
	</dd>
	<? endif ?>
	<dt><a href='~/help'>Help</a></dt>
	<dd style='display: none'>
		<ul>
			<? if ( $g->project->isOpened() ): ?>
			<li><a href='~/phpinfo'>PhpInfo</a></li>
			<li><a href='~/sitemap/tree'>Sitemap</a></li>
			<li><a href='~/manual'>Manual</a></li>
			<li><a href='~/nomad/projectPier?c=project&a=overview&1319690156&active_project=2'>projectPier</a></li>
			<? endif ?>
			<li><a href='~/about'>About</a></li>
		</ul>
	</dd>
</dl>
