<dl id='leftNavi' class='madWindow'>
	<!--
	<dt class='titleBar'>
		<b class='title'>기본 탐색기</b>
		<ul class='buttons'>
			<li><a class='minimize' href='#minimize'>_</a></li>
		</ul>
	</dt>
	-->
	<dd class='tabBar'>
		<ul>
			<li><a href='~/sitemap/widgetTree' title='Sitemap'>Sitemap</a></li>
			<li><a href='~/controller/list' title='Controller'>Controller</a></li>
			<li><a class='current' href='~/component/list' title='Component'>Component</a></li>
		</ul>
	</dd>
	<dd class='content'>
	</dd>
	<dd class='statusBar'></dd>
</dl>
