<h1><?=_( $g->sitemap->getInfo()->label ); ?></h1>

<nav class='component'>
	<a href='./'><?=_("목록")?></a>
	<a href='./diff'>Diff</a>
	<a href='./update'>update</a>
</nav>

<form id='SvnIndex' class='list' method='post' action='?'>
	<table class='simple'>
		<thead>
			<tr>
				<th><a href='#ckAll'>ckAll</a></th>
				<th>0</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>
				<th>6</th>
				<th>7</th>
				<th>file</th>
				<th>add</th>
				<th>diff</th>
				<th>buttons</th>
			</tr>
		</thead>
		<tbody>
			<? $num = 1; foreach ( $list as $row ): ?>
			<tr>
				<td><input type='checkbox' id='file<?=$num?>' name='file[]' value='<?=$row->file?>'/></td>
				<? for( $i=0; $i < 8; ++$i ): ?>
				<td><?=$row->$i?></td>
				<? endfor; ?>
				<td class='title'><label for='file<?=$num?>'><?=$row->file?></label></td>
				<td class='buttons'>
					<? if ( $row->{0} == '?' ): ?>
					<a href='./add?file=<?=$row->file?>'>add</a>
					<? endif; ?>
				</td>
				<td class='buttons'>
					<? if ( $row->{0} == 'M' ): ?>
					<a href='./diff?file=<?=$row->file?>'>diff</a>
					<? endif; ?>
				</td>
				<td class='buttons title'>
					<a href='./fileList?locale=<?=$row->locale?>'>Files</a>
					<a href='./viewExternal?locale=<?=$row->locale?>'>view External</a>
				</td>
			</tr>
			<? ++$num; endforeach; ?>
		</tbody>
	</table>
	<nav class='buttons'>
	</nav>

</form>
