<?=$this->navi?>
<form id='<?=$this->table?>' class='<?=$this->program?>List' method='post'>
	<input type='hidden' name='no' value='<?=$no?>' />
	<div class='buyDate'><b>Buy Date : </b><span><?=$buyDate?></div>
	<table>
		<thead>
			<tr>
				<th>삭제</th>
				<th>구매수단</th>
				<th>구매일자</th>
				<th>품명</th>
				<th>단가</th>
				<th>수량</th>
				<th>금액</th>
				<th>바꾸기</th>
			</tr>
		</thead>
		<tbody>
			<?
			$quantitySum = 0;
			$costSum = 0;
			while ( $row = $lst->row() ):
			extract($row);
			$quantitySum += $quantity;
			$costSum += $cost * $quantity;
			$way = $form->select('way',$this->ways,$way);
			?>
			<tr>
				<td class='delete'><a class='btnDelete' title='<?=$no?>'>X</a></td>
				<td class='way'><?=$way?></td>
				<td class='buyDate'><input type='text' name='buyDate' value='<?=$buyDate?>' /></td>
				<td class='article'><input type='text' name='article' value='<?=$article?>' /></td>
				<td class='cost'><input type='text' name='cost' value='<?=$cost?>' /></td>
				<td class='quantity'><input type='text' name='quantity' value='<?=$quantity?>' /></td>
				<td class='subTotal'><?=$cost*$quantity?></td>
				<td class='update'><a class='btnUpdate'>Update</a></td>
			</tr>
			<? endwhile; ?>
		</tbody>
	</table>
	<div class='quantitySum'>수량 계 : <?=$quantitySum?></div>
	<div class='costSum'>합계 : <?=$costSum?></div>
</form>
