.MadBuyView {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.MadBuyView dl {
	float: left;
	width: 100%;
}
.MadBuyView dt {
	float: left;
	clear: left;
	width: 100px;
	height: 20px;
	margin-top: 5px; 
	padding-right: 10px;
	border: 1px solid #eee;
	text-align: right;
	line-height: 20px;
}
.MadBuyView dd {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	width: 300px;
	height: 20px;
	border: 1px solid #eee;
}
.MadBuyView dd input {
	width: 80%;
	border: 0;
	background: #f0f0f0;
}
.MadBuyList {
	float: left;
	width: 100%;
}
.MadBuyList input[type='text'] {
	width: 100px;
	border: 1px solid #f0f0f0;
}
.MadBuyList .buyDate {
	float: left;
}
.MadBuyList .costSum {
	float: right;
	margin-top: 20px;
	width: 100%;
	height: 30px;
	text-align: right;
	line-height: 30px;
	font: 600 12px ¹ÙÅÁ;
}
.MadBuyList table {
	margin-top: 20px;
	border: 1px solid #ccc;
}
.MadBuyList th {
	height: 20px;
	background: #eee;
}
.MadBuyList td {
	border: 1px solid #ccc;
	height: 20px;
}
.MadBuyList div {
}
.btnDelete {
cursor: pointer;
}
.MadBuyMonthList {
width: 100%;
float: left;
}
.MadBuyMonthList table {
width: 100%;
}
.MadBuyMonthList th {
padding: 5px 10px;
background: #eee;
border-bottom: 3px double #ccc;
}
.MadBuyMonthList td {
padding: 3px 10px;
border-bottom: 1px solid #ccc;
text-align: left;
}
.MadBuyMonthList .price {
	text-align: right;
}
.MadBuyNavi {
float: left;
width: 100%;
	   padding-bottom: 10px;
}
.MadBuyNavi a {
float: left;
	   margin-left: 10px;
padding: 10px 20px;
border: 1px solid #eee;
}
#way {
border: 1px solid #666;
font: 12px ¹ÙÅÁ;
background: #eef;
}
