@charset "euc-kr";


#wrap {width:100%;}
#l_box_outer {width:860px;height:460px; background:url(../A_img/common/mng_login_bg.gif); margin:0 auto 0 a; }
#l_box_inner {width:320px;height:300px;text-align:left;padding:280px 0 0 0; margin:0 0 0 500px;}
#l_input {padding:50px 0 0 10px}
#l_input_left {float:left;padding-right:10px;}
#l_input_left dl{clear:both}
#l_input_left dl dt{float:left;width:70px}
#l_input_left dl dd{float:left}
#l_input_right {float:left;width:90px;}
#l_msg {clear:both;}
#l_msg dl dt{float:left;width:150px}
#l_msg dl dd{float:left}