.body, td {
	font-family:돋움, seoul, arial, helvetica,verdana;
	font-size: 12px;
	line-height: 17px;
	color: #636363;
}
body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; 
      background-color:#ffffff;}
 p { margin: 0; padding: 0; }
 
 /* ▣▣▣ form ▣▣▣  */ 
input {BORDER: #CCCCCC 1px solid;BACKGROUND-COLOR: #FAFAFA; font-family:돋음;font-size:12px;COLOR: #7F7F7F;height:20px;text-valign: middle;padding-top:3px; padding-left:3px;padding-right:3px;}
.sch { border: 1px solid #CAD1D9;font-family:돋음;font-size:11px; background-color: #ffffff; LINE-HEIGHT: 17px; }
.inp_lef{BORDER: #CCCCCC 1px solid;BACKGROUND-COLOR: #FAFAFA; font-family:돋음;font-size:12px;COLOR: #7F7F7F;height:12px;text-valign: middle;text-align:right;padding-top: 3px;padding-left: 3px;padding-right: 3px}


select { border: 1px solid #EBEBEB;font-family:돋음;font-size:11px; COLOR: #636363; background-color: #ffffff; LINE-HEIGHT: 17px; }

.Checkbox {	border:none;width:auto;height: auto;margin:0 -1 0 -3;	background-color: transparent;}
.Radio {border: none;	width: auto;height: auto;vertical-align: middle;background-color: transparent;}
textarea { BORDER: #CCCCCC 1px solid;BACKGROUND-COLOR: #FAFAFA; font-family:돋음;font-size:12px;COLOR: #7F7F7F;LINE-HEIGHT: 140%;}
 
	  
/* ▣▣▣ 관리자 페이지▣▣▣ */
/* ▣▣▣ link ▣▣▣ */
a:link {color:#0754b3;text-decoration:none}
a:visited {color:#0754b3;text-decoration:none}
a:hover  {color:#5d24bd;text-decoration:none}


/* ▣▣▣ left menu ▣▣▣ */

.lef_mu_tit{font-size:14px; color:#000; text-align:left; font-weight:bold;}

.lef_mu_tit2{font-size:12px; color:#000; text-align:left; font-weight:bold;}

.lef_mu:link {color: #000;text-decoration:none }
.lef_mu:visited {color: #000;text-decoration:none}
.lef_mu:hover {color: #000;text-decoration:none; font-weight:bold;}

.lef_mu_f:link {color: #333333;text-decoration:none; background-color:f2f2f2;}
.lef_mu_f:visited {color: #333333;text-decoration:none; background-color:f2f2f2;}
.lef_mu_f:hover {color: #d82810;text-decoration:none; background-color:f2f2f2;}

	  
/* ▣▣▣ 관리자 페이지 Font ▣▣▣  */ 
.m_loc{font-size:12px; color:#011a6b; text-align:left; font-weight:bold;}
.m_login_name{font-size:12px; color:#08378d;text-align:left;font-weight:bold;}
.m_login{font-size:12px; color:#333333;text-align:left;}

.m_search_txt {color:#000;font-weight:bold; font-size:11px; color:#3a5a99; }

.m_cont_tit {color:#000;font-weight:bold; font-size:14px;}
.m_cont_ti2t {color:#000;font-weight:bold; font-size:12px;}

.M_cont_titbg{background-image:url('../A_img/common/M_sub_tit.gif');font-size:14px; width:46px; height:35px; }

.m_cont_txtbox {color:#336699;font-weight:bold; font-size:12px; text-align:left; padding-left:15px;}

/*관리자 tap */
.tap_txt0204{font-size:11px;color:#333; width:70px; text-align:center; background-image:url('../A_img/common/M_tap/tap_0204.gif');}
.tap_txt0204_ov{font-size:11px;color:#fff; width:70px; text-align:center; background-image:url('../A_img/common/M_tap/tap_0204r.gif');}

.tap_txt0507{font-size:11px;color:#333; width:90px; text-align:center; background-image:url('../A_img/common/M_tap/tap_0507.gif');}
.tap_txt0507_ov{font-size:11px;color:#fff; width:90px; text-align:center; background-image:url('../A_img/common/M_tap/tap_0507r.gif');}

/*tap버튼*/
.tab_mu{width:137px;height:27px;background: url(../A_img/common/btn/M_tabmu.gif) no-repeat;text-align:center;}
.tab_mu_ov{width:137px;height:27px;background: url(../A_img/common/btn/M_tabmu_ov.gif) no-repeat;text-align:center;color:#ffffff}
.tab_mu_ov:link{width:137px;height:27px;background: url(../A_img/common/btn/M_tabmu_ov.gif) no-repeat;text-align:center;color:#ffffff}
.tab_mu_ov:visited{width:137px;height:27px;background: url(../A_img/common/btn/M_tabmu_ov.gif) no-repeat;text-align:center;color:#ffffff}


/* ▣▣▣ 관리자 btn_mu ▣▣▣  */ 
/*하단 컬러버튼*/
.btn_2{background-image:url('../A_img/common/M_btn/btn_txt2.gif');width:40px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_3{background-image:url('../A_img/common/M_btn/btn_txt3.gif');width:50px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_4{background-image:url('../A_img/common/M_btn/btn_txt4.gif');width:60px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_5{background-image:url('../A_img/common/M_btn/btn_txt5.gif');width:70px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_6{background-image:url('../A_img/common/M_btn/btn_txt6.gif');width:80px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_7{background-image:url('../A_img/common/M_btn/btn_txt7.gif');width:90px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_8{background-image:url('../A_img/common/M_btn/btn_txt8.gif');width:100px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_9{background-image:url('../A_img/common/M_btn/btn_txt9.gif');width:110px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_10{background-image:url('../A_img/common/M_btn/btn_txt10.gif');width:120px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_11{background-image:url('../A_img/common/M_btn/btn_txt11.gif');width:130px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_12{background-image:url('../A_img/common/M_btn/btn_txt12.gif');width:140px;height:19px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}


/* 테이블 내부블릿 버튼*/
.btn_2a{background-image:url('../A_img/common/M_btn/btn3_txt2.gif');width:40px;height:18px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_3a{background-image:url('../A_img/common/M_btn/btn3_txt3.gif');width:50px;height:18px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_4a{background-image:url('../A_img/common/M_btn/btn3_txt4.gif');width:60px;height:18px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_5a{background-image:url('../A_img/common/M_btn/btn3_txt5.gif');width:70px;height:18px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}
.btn_6a{background-image:url('../A_img/common/M_btn/btn3_txt6.gif');width:80px;height:18px;font-family:돋움;font-size:11px;color:#ffffff;border:0;cursor:pointer;padding-top:3;}


.adm_search_tit {font-size:16px;color:#000;font-weight:bold;padding:20px 0 10px 0;}

.adm_search_tit1{font-size:12px;color:#939393;font-weight:bold;padding:5px 0 3px 13px;}
.adm_search_tit1 a:link,.adm_search_tit1 a:visited,.adm_search_tit1 a:active{font-size:12px;color:#939393;font-weight:bold;}
.adm_search_tit1 a:hover{font-size:12px;color:#939393;font-weight:bold;text-decoration:underline;}

.adm_search_con{font-size:12px;color:#939393;padding:0 0 15px 13px;}
.adm_search_con a:link,.adm_search_con a:hover, .adm_search_con a:active,.adm_search_con a:visited{font-size:12px;color:#939393;}
.adm_search_con a:hover{font-size:12px;color:#939393;text-decoration:underline;}

.adm_search_line{border-top:1px solid #e8e8e8;}


