.table01 {
}
.table01 th {
height: 25px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
background: #eee;
}
.table01 td {
	border-bottom: 1px solid #ccc;
padding: 10px 5px;
}
#modeler input[type='text'] {
width: 40px;
border: 1px solid #ccc;
}
#modeler #name , #modeler #nickName {
width: 100px;
}
.buttons {
float: left;
	   margin-top: 10px;
}
.btnSubmit {
float: left;
padding: 10px;
border: 1px solid #ccc;
cursor: pointer;
}
.addRow , .removeRow {
cursor: pointer;
}
