<h1>Backup List</h1>

<h2>마지막 백업일 : <?=$list->getLastBackupDate()?></h2>

<table class='adminTable'>
<thead>
	<tr>
		<th>파일명</th>
		<th>사이즈</th>
		<th>작성일</th>
		<th>파일명</th>
		<th>파일명</th>
	</tr>
</thead>
<tbody>
	<? foreach ( $list as $file ): printR( $file ); die;?>
	<tr>
		<td><?=$file->getBaseName()?></td>
		<td><?=$file->getSize()?></td>
		<td><?=date('Y-m-d H:i:s', $file->getCTime())?></td>
		<td><?=md5_file( $file->getRealPath() )?></td>
	</tr>
	<? endforeach; ?>
</tbody>
</table>

<? if ( $list->isEmpty() ) : ?>
	<p class='noContent'>리스트가 없습니다.</p>
<? endif; ?>
<?=$list->getPageNavi()?>

<a href='backup?'>지금 백업하기</a>

<form id='ListSearch' class='listSearch' method='get' action='?'>
	<button class='btnSubmit' type='submit'>검색</button>
</form>
