<div id='<?=$this->table?>' class='madboardList'>
	<table>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>글쓴이</th>
			<th>날자</th>
		</tr>
		<? while ( $row = $q->row() ) {
		extract($row); ?>
		<tr>
			<td><?=$no?></td>
			<td class='title'>
				<a href='?mode=view&no=<?=$no?>'><?=$title?></a>
				<?  if ($comments) print '['.$comments.']'; ?>
			</td>
			<td><?=$id?></td>
			<td><?=$w_date?></td>
		</tr>
		<? } ?>
	</table>
	<div class='pageNavi'><?=$page_navi?></div>
	<div class='buttons'><?=$buttons?></div>
	<?=$search_form?>
</div>
