<form method='post' action='?'>
<table>
<tr>
<th>순서</th>
<th>컬럼명</th>
<th>레이블</th>
<th>표시여부</th>
<th>저장값</th>
<th>form형식</th>
</tr>
<?
$dbname='designstory';
$tablename='request';
$result=mysql_list_fields($dbname,$tablename);
$rows=mysql_num_fields($result);
for($i=0; $i<$rows; $i++){
	$field=mysql_field_name($result, $i);
?>
	<tr>
	<td>$i</td>
	<td>$field<input type='hidden' name='field[]' value='$field' /></td>
	<td><input type='text' name='alias[]' value='$field' onfocus='select()'/></td>
	<td><input type='checkbox' name='rwx[]' value='776'/></td>
	<td><input type='text' name='savevalue[]' /></td>
	<td><select name='formtype[]' class='w100'>
<option value='text'>text</option>
<option value='select'>select</option>
<option value='textarea'>textarea</option>
<option value='radio'>radio</option>
<option value='checkbox'>checkbox</option>
</select></td>
	</tr>
<tr><td colspan='6'><div style='float: right;'><input type='submit' value=' Make all ' /></div></td>
	</table>
	</form>
