#User ul {
list-style: none;
display: inline-block;
width: 220px;
border: 3px solid #000;
padding: 5px;
}
#User ul label {
display: inline-block;
width: 60px;
font-size: 9pt;
background: #ccc;
text-align: right;
}
#User ul input ,
#User ul nav.group {
width: 140px;
}
#User ul nav.group {
display: inline-block;
vertical-align: top;
}
#User ul nav.group a {
font-size: 11px;
color: #000;
background: #eef;
}
