@charset "utf-8";
/* CSS Document */




table {width:100%; empty-cells:show; border:0;border-collapse: collapse;font-size:12px} /**/
td, th{font-size: 1em;padding:0; margin:0}

/* board list */
.board{width:100%;margin:1em 0;clear:both}
.result_count {color:#464646;padding-left:10px;clear:both}
.tbl_type_list table{clear:both; width:100%; border:1; border-top:0px solid #dbdbdb; font:12px "돋움", Dotum, "굴림", Gulim, "Lucida Grande", Tahoma, Geneva, sans-serif;}
.tbl_type_list caption{color:#fff;height:0px;font-size:0px;visibility:hidden;}
.tbl_type_list legend{position:absolute; left:0; top:0; width:1px; height:0; font-size:0; line-height:0; visibility:hidden;}
.tbl_type_list th,
.tbl_type_list td{border:0; padding:5px 0px 5px 0px;vertical-align:middle;white-space:nowrap; color:#333; border-bottom:1px solid #E5E5E5;text-align:center;}
.tbl_type_list th{background:url("../images/common/board/bg_th.gif") repeat-x transparent;border-top:0px solid #ddd;border-bottom:0px solid #ddd;text-align:center;}/*background:url("../images/common/board/line03.gif") no-repeat scroll left 10px transparent*/
.tbl_type_list th span{background:url("../images/common/board/line03.gif") no-repeat scroll left 50% transparent;color:#54628D;display:block;width:100%;}
.tbl_type_list td.subject{text-align:center;}
.tbl_type_list td.subject{text-align:left;padding-left:10px;white-space:normal;}
.tbl_type_list td.num{color:#999;font-size:11px;}
.tbl_type_list th.first{background:url("../images/common/board/th_left2.gif") no-repeat transparent top left;}
.tbl_type_list th.last{background:url("../images/common/board/th_right.gif") no-repeat transparent top right;}
.tbl_type_list li.hei{padding:5px 0 0 450px;}
.new{background:url("../images/common/board/bg_sprite.gif") no-repeat scroll 0 0 transparent;display:inline-block;width:10px;height:9px;overflow:hidden;vertical-align:middle;text-indent:-3000em}/*line-height:100px*/
.result_count {clear:both;height:25px;font-size:11px}
.tr_notice{background:#f7f7f7}
.page_count{float:right;}
.result_count{float:left;}

/* board view, write */
/*legend{display:none}*/
.tbl_type,.tbl_type th,.tbl_type td{border:0}
.tbl_type{width:100%;margin-bottom:10px;border-top:1px solid #b1b1b1;border-bottom:1px solid #7586a3;color:#666;font-size:12px;table-layout:fixed}
.tbl_type caption{display:none}
.tbl_type th{text-align:center;border-bottom:solid 1px #b1b1b1;background-color:#F7F7F7;color:#666666;font-weight:bold;line-height:18px;vertical-align:middle}
.tbl_type td{padding:8px 0 5px 10px;border-bottom:solid 1px #E5E5E5;text-align:left;}
.tbl_type td.cont{padding:20px;line-height:1.4em;color:#333}
.tbl_type .view_subject{font-weight:bold;color:#54628D}
.tbl_type td.status{font-size:11px;color:#ddd}
.tbl_type td.num{color:#999;font-size:11px;}
.tbl_type td.centers{color:#999;font-size:11px;text-align:center;padding-left:0}
.tbl_type a{ text-decoration:underline;}
.tbl_type th.stit{ font-family:"돋움"; font-size:11px; color:#9e9e9e;border-top:1px solid #efefef;background:#efefef}
.tbl_type2{width:100%;margin-top:15px;border-top:1px solid #999;border-bottom:1px solid #999;color:#666;font-size:12px;table-layout:fixed;}
.tbl_type2,.tbl_type2 th,.tbl_type2 td{border-top:1px solid #999;}
.tbl_type2 caption{display:none}
.tbl_type2 th{text-align:center;border-bottom:solid 1px #E5E5E5;background-color:#F7F7F7;color:#666666;font-weight:bold;line-height:18px;vertical-align:middle}
.tbl_type2 td{padding:5px 0 3px 10px;line-height:1.4em;text-align:left;border-bottom:solid 1px #E5E5E5;}
.tbl_type2 td.centers{color:#999;font-size:11px;text-align:center;padding-left:0}
.tbl_type2 .input_txt td{padding:5px 0 5px 10px;border-bottom:solid 1px #d2d2d2}
.tbl_type2 .input_txt td input,.tbl_type2 .input_txt td textarea{vertical-align:middle}
.tbl_type2 .input_txt input.name{width:100px;padding:2px 0 1px;border:solid 1px #d2d2d2}
.tbl_type2 .input_txt textarea.comment{width:80%;height:14px;padding:2px 0 1px;border:solid 1px #d2d2d2}
.tbl_type2 .input_txt input.submit{width:60px;border:solid 1px #666;background-color:#f2f2f2;font-family:'돋움';font-size:12px;line-height:normal}

.tbl_type_t,.tbl_type_t th,.tbl_type_t td{border:0}
.tbl_type_t{width:100%;margin-bottom:10px;border-top:1px solid #b1b1b1;border-bottom:1px solid #7586a3;color:#666;font-size:12px;table-layout:fixed}
.tbl_type_t caption{display:none}
.tbl_type_t th{text-align:center;border-bottom:solid 1px #b1b1b1;border-right:solid 1px #e5e5e5;background-color:#F7F7F7;color:#666666;font-weight:bold;line-height:18px;vertical-align:middle}
.tbl_type_t .stit_right{border-right:0px}
.tbl_type_t td{padding:8px 0 5px 10px;border-bottom:solid 1px #E5E5E5;text-align:left;}
.tbl_type_t td.cont{padding:20px;line-height:1.4em;color:#333}
.tbl_type_t .view_subject{font-weight:bold;color:#54628D}
.tbl_type_t td.status{font-size:11px;color:#ddd}
.tbl_type_t td.num{color:#999;font-size:11px;}
.tbl_type_t td.centers{color:#999;font-size:11px;text-align:center;padding-left:0}
.tbl_type_t a{ text-decoration:underline;}

/* pagination */
.pagination{position:relative;top:0; padding:0; text-align:center; }
.pagination *{ position:relative; display:inline-block; margin:0 -2px; padding:2px 4px; font-size:11px; text-decoration:none; line-height:normal; color:#333; font-family:Tahoma, Sans-serif; vertical-align:middle;}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{ background-color:#f8f8f8; }
.pagination strong{ color:#ff6600;}
.pagination .direction{ padding:0 6px; text-align:center; font-weight:bold; font-size:14px; color:#666;}
.pagination .direction:hover,
.pagination .direction:active,
.pagination .direction:focus{ background-color:transparent !important; color:#333;}
.pagination .direction span{ position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}

/* button */
.btn_area{position:relative;  text-align:center;top:0;height:20px; margin:0px 0 0px 0;*zoom:1;}
.btn_area:after{ content:""; display:block; clear:both;}
.btn_area .left{ float:left;}
.btn_area .right{ float:right;}
.btn_area .center{ text-align:center}


/* search */
.board_search{width:698px;height:48px;background:url("../images/common/board/bg_search.gif") no-repeat transparent;text-align:center;margin-top:20px;padding:12px}
.board_search img{vertical-align:middle}
.board_search input{height:15px;padding:0}
.txt_search{padding-right:10px}
.srch{width:100%;padding:5px 0}
.srch legend{overflow:hidden;visibility:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.srch{color:#c4c4c4;text-align:center}
.srch select,.srch input{margin:-1px 0 1px;font-size:12px;color:#373737;vertical-align:middle}
.srch .keyword{margin-left:1px;padding:2px 3px 5px;border:1px solid #b5b5b5;font-size:12px;line-height:15px}


/* data table */
.table{margin:0;}
.table table{width:100%; border:0; border-top:1px solid #7586a3;border-bottom:1px solid #7586a3; font:12px Tahoma, Geneva, sans-serif;}
.table caption{  font-weight:bold; text-align:left;}
.table th,
.table td{ border:0; padding:8px; vertical-align:top;}
.table th{ color:#54628D;border-right:1px solid #E5E5E5;border-left:1px solid #E5E5E5;text-align:center;vertical-align:middle}
.table td{ color:#666;border-right:1px solid #E5E5E5;text-align:right;}
.table thead th{ border-bottom:1px solid #E5E5E5; background:#F7F7F7;}
.table tbody th{ border-bottom:1px solid #E5E5E5; background:#fafafa;}
.table tfoot th{ border-bottom:1px solid #E5E5E5;background:#F7F7F7;}
.table tfoot td{ border-bottom:1px solid #E5E5E5;background:#F7F7F7;}
.table tbody td{ border-bottom:1px solid #E5E5E5;}
.table tfoot td{ border-bottom:1px solid #E5E5E5; font-weight:bold; color:#666;}

.caption_left{margin:3px 0;padding:0;font-weight:bold;text-align:left;color:#54628D;}
.caption_center{margin:3px 0;padding:0;font-weight:bold;text-align:center;color:#54628D;}
.caption_right{margin:3px 0;padding:0;font-weight:bold;text-align:right;color:#54628D;}



/* data table */

table{width:100%; border:0; border-top:1px solid #b1b1b1;border-bottom:1px solid #b1b1b1; font:12px Tahoma, Geneva, sans-serif;}
table caption{  font-weight:bold; text-align:left;}
table th,
table td{ border:0; padding:8px; vertical-align:top;}
table th{ color:#666666;border-right:1px solid #E5E5E5;border-left:1px solid #E5E5E5;text-align:center;vertical-align:middle}
table td{ color:#666;border-right:1px solid #E5E5E5;text-align:right;}
table thead th{ border-bottom:1px solid #E5E5E5; background:#F7F7F7;}
table tbody th{ border-bottom:1px solid #E5E5E5; background:#fafafa;}
table tfoot th{ border-bottom:1px solid #E5E5E5;background:#F7F7F7;}
table tfoot td{ border-bottom:1px solid #E5E5E5;background:#F7F7F7;}
table tbody td{ border-bottom:1px solid #E5E5E5;}
table tfoot td{ border-bottom:1px solid #E5E5E5; font-weight:bold; color:#666;}

caption_left{margin:3px 0;padding:0;font-weight:bold;text-align:left;color:#54628D;}
caption_center{margin:3px 0;padding:0;font-weight:bold;text-align:center;color:#54628D;}
caption_right{margin:3px 0;padding:0;font-weight:bold;text-align:right;color:#54628D;}

/* faq */
.faq{clear:both;margin-top:20px;border-bottom:1px solid #ddd;}
.faq .hgroup{clear:both;position:relative; *zoom:1;height:10px}
.faq .hgroup .trigger{ position:absolute; bottom:0; right:0;border:0; padding:0; overflow:visible; background:none; cursor:pointer;}
.faq ul{ list-style:none; margin:0; padding:0;}
.faq .q{ margin:0; border-top:1px solid #ddd;}
.faq .q a.trigger{ display:block; padding:5px 15px; text-align:left; font-weight:bold; color:#54628D; background:#fafafa; text-decoration:none !important;}
.faq .hide .q a.trigger{ font-weight:normal; background:none;}
.faq .q a.trigger:hover,
.faq .q a.trigger:active,
.faq .q a.trigger:focus{ color:#000; background:#f8f8f8;}
.faq .a{ margin:0; padding:10px 15px; line-height:1.5;}

/* photo list */
.fixed_img_col ul{clear:both;overflow:hidden;position:relative;margin:0;padding:0;border:1px solid #ddd;border-left:0;border-right:0;font-size:12px;font-family:Tahoma, Geneva, sans-serif;list-style:none;*zoom:1}
.fixed_img_col ul:after{display:block;clear:both;content:""}
.fixed_img_col li{overflow:hidden;float:left;position:relative;top:1px;width:170px;height:210px;border-bottom:1px solid #eee}
.fixed_img_col .thumb{display:block;overflow:hidden;position:relative;width:130px;height:100px;background:#eee;color:#666;line-height:120px;text-align:center;white-space:nowrap}
.fixed_img_col .thumb img{display:block;width:130px;height:100px;border:0}
.fixed_img_col .thumb em{visibility:hidden;position:absolute;bottom:0;left:0;width:1px;height:1px;background:#000;font-weight:bold;font-style:normal;color:#fff;text-align:center;opacity:.6;filter:alpha(opacity=60)}
.fixed_img_col .thumb em{_visibility:visible;_width:100%;_height:auto;_line-height:20px}
.fixed_img_col a{display:block;width:120px;margin:0 auto;padding:20px 0 0 0;text-decoration:none;cursor:pointer}
.fixed_img_col a strong{display:inline-block;margin:8px 0 0 0;color:#54628D}
.fixed_img_col p{width:120px;margin:0 auto;font-size:11px;color:#767676}
.fixed_img_col a:hover strong,
.fixed_img_col a:active strong,
.fixed_img_col a:focus strong{text-decoration:underline}
.fixed_img_col a:hover .thumb,
.fixed_img_col a:active .thumb,
.fixed_img_col a:focus .thumb{margin:-3px;border:3px solid #eee;-moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 5px #666}
.fixed_img_col a:hover .thumb em,
.fixed_img_col a:active .thumb em,
.fixed_img_col a:focus .thumb em{visibility:visible;width:100%;height:auto}

/* photo text list */
.fixed_img_row ul{clear:both;margin:0;padding:0;font-size:12px;font-family:Tahoma, Geneva, sans-serif;list-style:none}
.fixed_img_row li{position:relative;margin:0 0 -1px 0;padding:15px 0 15px 135px;border:1px solid #eee;border-left:0;border-right:0;vertical-align:top;*zoom:1}
.fixed_img_row li:after{display:block;clear:both;content:""}
.fixed_img_row a{text-decoration:none;cursor:pointer}
.fixed_img_row a strong{display:inline-block;margin:0 0 4px 0;color:#54628D}
.fixed_img_row .thumb{display:inline;overflow:hidden;float:left;position:relative;width:120px;height:100px;margin:0 15px 0 -135px;background:#eee;color:#666;line-height:80px;text-align:center;-moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 5px #666}
.fixed_img_row .thumb img{display:block;border:0}
.fixed_img_row .thumb em{visibility:hidden;position:absolute;top:50%;left:0;width:1px;height:1px;margin:-90px 0 0 0;background:#000;font-weight:bold;font-style:normal;color:#fff;text-align:center;opacity:.6;filter:alpha(opacity=60)}
.fixed_img_row .thumb em{_visibility:visible;_top:0;_width:100%;_height:auto;_margin:0;_line-height:20px}
.fixed_img_row p{margin:0;color:#767676;line-height:1.4}
.fixed_img_row a:hover strong,
.fixed_img_row a:active strong,
.fixed_img_row a:focus strong{text-decoration:underline}
.fixed_img_row a:hover .thumb,
.fixed_img_row a:active .thumb,
.fixed_img_row a:focus .thumb{margin:-3px -3px -3px -138px;border:3px solid #eee;-moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 5px #666}
.fixed_img_row a:hover .thumb em,
.fixed_img_row a:active .thumb em,
.fixed_img_row a:focus .thumb em{visibility:visible;width:100%;height:auto;line-height:180px}


/* mypage tab */
.tab{width:700px;position:relative;height:29px;margin-bottom:5px;background:url(../images/board/tab_menu.gif) repeat-x 0 100%;font-family:'돋움',dotum;font-size:12px;}
.tab ul{}
.tab ul,.tab ul li{margin:0;padding:0}
.tab ul li{list-style:none;margin-bottom:5px}
.tab ul li,.tab ul li a{background:url(../images/board/bg_tab2_off.gif) no-repeat;}
.tab ul li{float:left;margin-right:-1px;line-height:26px}
.tab ul li a{display:inline-block;padding:2px 16px 1px;_padding:3px 16px 0;background-position: 100% 0;font-weight:bold;color:#666;text-decoration:none !important}
.tab ul li a:hover{color:#000}
.tab ul li.on,.tab_menu ul li.on a{background-image:url(../images/board/bg_tab2_on.gif)}
.tab ul li.on a{color:#1fa49d}