@charset "utf-8";

body {text-align: center;margin:0 auto 0 auto;padding: 0;font-size: 12px;line-height: 1.5em;font-family: '돋움', dotum, sans-serif;color:#242424;background:#efefef url(/images/common/bg/tiled_bg.jpg) repeat;}
body div, ul, li {font-family:'돋움', Dotum, AppleGothic, sans-serif;}

a:link, a:visited {color: #666;text-decoration: underline}
a:hover, a:active {color: #1d4b7e; text-decoration: underline;}
input {height:18px;}


img, 
input.type-image {border: 0 none;}

#popup_body {
	background:#efefef;
	width:100%;
	height:100%;
}

#pop_wrapper{
	background:#efefef;
	width:100%;
	height:100%;
}
#pop_top { 
	height:40px;
	background:url(../U_img/popup/bg_top.gif) repeat-x transparent;
	width:100%;
}

#pop_top_left {
	float:left;
	width:400px;
	height:40px;
	text-align:left;
	background:url(../U_img/popup/bg_top_left.gif) no-repeat transparent ;
}

#pop_top_left h1 {
	color:#fff;
	font-size:14px;
	padding: 6px 0 0 35px;
	margin:0;
	background:url(../U_img/popup/title01.gif) no-repeat transparent 15px 12px;
}

#pop_top_center {
	float:left;
	height:40px;
	background:#153752;
}

#pop_top_right {
	float:right;
	width:150px;
	height:40px;
}

#pop_center {
	background:#FFFFFF;
	height:100%;
	width:100%;
}

#pop_btm {
	height:34px;
	width:100%;
	background:#e2e2e2;
	text-align:right;
}

#pop_btm_left {
	float:left;
	width:413px;
	background:#e2e2e2;
	height:27px;
	padding: 5px 0 0 0;		
}

#pop_btm_center {
	float:left;
	background:#e2e2e2;
	height:27px;
	padding: 5px 0 0 0;	
}

#pop_btm_right {
	float:right;
	background:#e2e2e2;
	width:150px;
	height:27px;
	padding: 0px 0 0 0;	
}

#con_info_tit {
	background:#FFFFFF;
	height:100%;
	text-align:left;
	border-top:5px solid #F7F7F7;	border-left:5px solid #F7F7F7;	border-right:5px solid #F7F7F7;	border-bottom:5px solid #F7F7F7;
	padding:10px;		
	margin:0;
}

#pop_content {
	background:#fff;
	text-align:center;
	border:10px solid #EEEEEE;
	padding:20px;		
	margin:0;
	height:100%;
	line-height:180%;
	width:100%;
}

/*
#pop_title {
	color:#058f74;
	font-size:14px;
	padding: 0 0 0 20px;
	margin-bottom:20px;
	font-weight:bold;
	background:url(../U_img/popup/bu_03.gif) no-repeat transparent 0px 2px;
	text-align:justify;
}
*/

#pop_title {
	color:#ef6f01;
	font-size:14px;
	padding: 0 0 0 20px;
	margin-bottom:20px;
	font-weight:bold;
	background:url(../U_img/common/bullet/bu_pop2.gif) no-repeat transparent 0px 3px;
	text-align:justify;
}

#pop_n_content {background:#fff; text-align:center;	border-top:5px solid #5189af; border-bottom:5px solid #5189af; padding:10px; height:100%; line-height:180%;	width:100%; overflow:hidden;}
.pop_vod_left{ float:left; width:340px; height:380px; padding:15px; background:url(../U_img/pr/pr_movie_bg.gif) left top no-repeat;} /* 20100723 추가 */
.pop_vod_left EMBED{margin:5px 0 0 5px;}
.pop_vod_right{float:left; width:290px; text-align:left; margin:0 0 0 5px;} /* 20100723 추가 */
.pop_vod_text_box{width:290px; height:340px; margin:44px 0 0 0; padding:0;} /* 20100723 추가 */
.pop_vod_text{margin:0;width:280px; height:310px; overflow:auto; border:1px solid #ddd; padding:10px;} /* 20100723 추가 */


#pop_con_detail {
   text-align:left;
}

#con_info_tit h1 {
	color:#758107;
	font-size:12px;
	font-weight:bold;
	background:url(../U_img/popup/bu02.gif) no-repeat 0px 3px;	
	padding:0 0 5px 20px;
	margin:0;
}

#con_info_tit h2 {
	color:#262626;
	font-size:12px;
	font-weight:bold;
	padding:0 0 5px 15px;
	margin:5px 0;
	background:url(../U_img/popup/arr_gray.gif) no-repeat 0px 4px;	
}

#con_info_tit h3 {
	color:#887B6F;
	font-size:12px;
	font-weight:bold;
	padding:0 0 5px 10px;
	margin:5px 0;
}

#con_info {
	background:#F1EDE0;
	padding:10px;
	color:#956A5B;
	margin-top:5px;
}


#pop_content_info {
	list-style:none;
	text-align:left;	
	padding:0;
	margin:0;
	background: transparent;
}

#pop_content_info li {
	list-style:none;	
	text-align:left;
	padding:0px 0px 0px 15px;
	margin:0;	
	font-weight:bold;
	font-size:12px;
	color:#D56E14;
	background: url(../U_img/popup/ico_red01.gif) no-repeat  transparent 5px 5px;
}

#pop_content_info2 li {
	list-style:none;	
	text-align:left;
	padding:5px 0px 0px 15px;
	margin:0;	
	font-weight:normal;
	font-size:12px;
	color:#887B6F;
	background: url(../U_img/popup/dot_default.gif) no-repeat  transparent 5px 9px;
}

#pop_btn_area {
	text-align:center;
}





/* 占쏙옙占쏙옙占쏙옙튼 */
sbtn_txt2{background:#A6A4A0 url('../U_img/popup/sb_2.gif') no-repeat;width:35px;height:18px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:11px;color:#fff;font-weight:normal;border:0;padding-top:3px;cursor:pointer;}
.sbtn_txt3{background:#A6A4A0 url('../U_img/popup/sb_3.gif') no-repeat;width:onclick="location.href='form.html'";height:18px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:11px;color:#fff;font-weight:normal;border:0;padding-top:3px;cursor:pointer;}
.sbtn_txt4{background:#A6A4A0 url('../U_img/popup/sb_4.gif') no-repeat;width:53px;height:18px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:11px;color:#fff;font-weight:normal;border:0;padding-top:3px;cursor:pointer;}
.sbtn_txt5{background:#A6A4A0 url('../U_img/popup/sb_5.gif') no-repeat;width:68px;height:18px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:11px;color:#fff;font-weight:normal;border:0;padding-top:3px;cursor:pointer;}
.sbtn_txt6{background:#A6A4A0 url('../U_img/popup/sb_6.gif') no-repeat;width:78px;height:18px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:11px;color:#fff;font-weight:normal;border:0;padding-top:3px;cursor:pointer;}
.sbtn_txt7{background:#A6A4A0 url('../U_img/popup/sb_7.gif') no-repeat;width:85px;height:18px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:11px;color:#fff;font-weight:normal;border:0;padding-top:3px;cursor:pointer;}
.sbtn_txt8{background:#A6A4A0 url('../U_img/popup/sb_8.gif') no-repeat;width:95px;height:18px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:11px;color:#fff;font-weight:normal;border:0;padding-top:3px;cursor:pointer;}
.sbtn_txt9{background:#A6A4A0 url('../U_img/popup/sb_9.gif') no-repeat;width:117px;height:18px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:11px;color:#fff;font-weight:normal;border:0;padding-top:3px;cursor:pointer;}


/* 큰占쏙옙튼 */
.abtn_txt2{background:#A6A4A0 url(../U_img/popup/ab_2.gif) no-repeat;width:43px;height:21px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:12px;color:#fff;font-weight:bold;border:0;padding-top:3px;cursor:pointer;}
.abtn_txt3{background:#A6A4A0 url(../U_img/popup/ab_3.gif) no-repeat;width:56px;height:21px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:12px;color:#fff;font-weight:bold;border:0;padding-top:3px;cursor:pointer;}
.abtn_txt4{background:#A6A4A0 url(../U_img/popup/ab_4.gif) no-repeat;width:70px;height:21px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:12px;color:#fff;font-weight:bold;border:0;padding-top:3px;cursor:pointer;}
.abtn_txt5{background:#A6A4A0 url(../U_img/popup/ab_5.gif) no-repeat;width:80px;height:21px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:12px;color:#fff;font-weight:bold;border:0;padding-top:3px;cursor:pointer;}
.abtn_txt6{background:#A6A4A0 url(../U_img/popup/ab_6.gif) no-repeat;width:90px;height:21px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:12px;color:#fff;font-weight:bold;border:0;padding-top:3px;cursor:pointer;}
.abtn_txt7{background:#A6A4A0 url(../U_img/popup/ab_8.gif) no-repeat;width:110px;height:21px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:12px;color:#fff;font-weight:bold;border:0;padding-top:3px;cursor:pointer;}
.abtn_txt8{background:#A6A4A0 url(../U_img/popup/ab_8.gif) no-repeat;width:123px;height:21px;font-family:'돋움', Dotum, AppleGothic, sans-serif;font-size:12px;color:#fff;font-weight:bold;border:0;padding-top:3px;cursor:pointer;}



table { empty-cells:show; border:0;border-collapse: collapse;font-size:12px} /**/
td, th{font-size: 1em;padding:0; margin:0}

/* table style */
.tbl_type4{width:100%; border-top:2px solid #d4d4d4;border-bottom:2px solid #d4d4d4;margin:0}/*table-layout:fixed;*/
.tbl_type4 thead tr{background:#EFEFEF;/*background:url(/images/common/left/bg_smenu_02.jpg) repeat-x;*/}
.tbl_type4 thead th{border:1px solid #d4d4d4;height:28px;  text-align:center;color:#666666;border-top:1px solid #dadad2;}
.tbl_type4 thead th.thFirst{/*border-left:none;*/}
.tbl_type4 tbody td{padding:5px; margin:0;height:28px; border:1px solid #dadad2;text-align:center }
.tbl_type4 tbody td.subject{text-align:left; padding-left:10px; }
.tbl_type4 tbody td.writer{text-align:center;  }
.tbl_type4 tbody .article-no, .date, .read, .num{font-size:11px; font-family:'돋움', Dotum, AppleGothic, sans-serif;}
.tbl_type4 p {margin:0;padding:0;}

.tbl_type4 tbody td.left {text-align:left}
.tbl_type4 tbody td.center {text-align:center}
.tbl_type4 tbody td.right {text-align:right}

.tbl_type4 tbody td.top	{vertical-align:top}
.tbl_type4 tbody td.middle	{vertical-align:middle}
.tbl_type4 tbody td.bottom		{vertical-align:bottom}

/*Form*/
.tbl_form{width:100%;  border-top:2px solid #d4d4d4;border-bottom:2px solid #d4d4d4;padding:0;margin:0;}
.tbl_form td, th{border-bottom:1px solid #d4d4d4;}
.tbl_form .td_tit	  {vertical-align:top; padding:7px 0 0 10px;height:28px;font-family:'돋움', Dotum, AppleGothic, sans-serif; font-size: 12px; color: #666666; text-align: left; font-weight: bold; font-style: normal; text-decoration: none; line-height: 12pt ; background:#EFEFEF}
.tbl_form .td_txt	  {padding:5px;height:20px;font-family:'돋움', Dotum, AppleGothic, sans-serif; font-size: 12px; color: #5E5E5E; text-align: left; font-weight: normal; font-style: normal; text-decoration: none; background-color:#fff ; line-height: 12pt ;  }
.star{color:#fb8303; font-size:12px; font-family:AppleGothic, sans-serif;font-weight:normal}



.paging {font-size:12px;font-family:'돋움', Dotum, AppleGothic, sans-serif; text-align:center;letter-spacing:1px;margin:15px 0 15px 0;} 


.btn_area {text-align:right;}


.box{ position: relative; left: 1px; width: 13px; height: 13px; padding: 0 ; text-align: right;} 

.bold {font-weight:bold}



 .h0_txt{background:#efefef;margin:5px 0 30px 0px;padding:10px;border:3px solid #e7e7e7;text-align:justify;line-height:160%}

h1{margin:0px 20px 10px 0;padding:0px 0 0 17px;text-align:left;color:#ff7717;font-weight:bold;font-size:12px;line-height:180%;background:url(/images/common/bullet/bu-1.gif) no-repeat transparent 0px 4px;}/*border-bottom:1px solid #b7aa55;*/
.h1_txt {margin:0px 10px 10px 7px;padding:0 0 0 10px;text-align:justify;background:#fff;border:0px solid #DEDEDE;}/*background:#efefef;*/
.h1_tit {color:#383838;font-weight:normal;margin:5px 0 0px 5px;padding:0 0 0 15px;text-align:left;background:url(/images/common/bullet/sm_bul.gif) no-repeat transparent 7px 7px;border:0px solid #DEDEDE;line-height:160%;}

 h2{margin:10px 20px 10px 10px;padding:0 0 0 17px;text-align:left;color:#383838;font-weight:bold;font-size:12px;line-height:180%;background:url(/images/common/bullet/arr_gray.gif) no-repeat transparent 0px 4px;	}
 .h2_txt {text-align:justify;padding:0 0 0 5px;background:#fff;margin:0 20px 10px 20px;}
 .h2_tit {color:#586B87;font-weight:bold;margin:10px 0 10px 10px;padding:0 0 0 23px;text-align:left;background:url(/images/common/bullet/bu_tb.gif) no-repeat transparent 7px 3px;border:0px solid #DEDEDE;line-height:160%;}
