  
  #all_menu{position:absolute; float:left; width:97px; height:28px; margin:17px 0 0 390px; *margin:17px 0 0 235px; padding:0; text-align:center; }
  
  #all_menu_view {position:absolute;top:46px;right:40px;float:left;width:890px;height:230px;padding:20px 0 0 30px;background-color:#fff; border:#68c7d0 3px solid;z-index:3;}
  	#c_kor_biz {float:left;width:125px;height:200px;margin:0 0 0 0;text-align:left;}
		.c_kor_biz_type li{padding:6px 0 2px 13px;line-height:125%;list-style:none;background:url(../images/sitemap/all_icon.gif) no-repeat; border-bottom:#dee4ec 1px solid; background-color:#f7f8fa;}
		

	#a_hold_tech{float:left;width:125px;height:200px;margin:0 0 0 17px;text-align:left;}
		.a_hold_tech_type li{padding:6px 0 2px 10px;line-height:125%;list-style:none;background:url(../images/sitemap/all_icon.gif) no-repeat; border-bottom:#d4d8db 1px solid; background-color:#f7f8fa;}
		
 
 	#a_asso_test{float:left;width:125px;height:200px;margin:0 0 0 17px;text-align:left;}
		.a_asso_test_type li{padding:6px 0 2px 13px;line-height:125%;list-style:none;background:url(../images/sitemap/all_icon.gif) no-repeat; border-bottom:#d4d8db 1px solid; background-color:#f7f8fa;}	
		
	#a_tech_meet {float:left;width:125px;height:200px;margin:0 0 0 17px;text-align:left;}
		.a_tech_meet_type li{padding:6px 0 2px 13px;line-height:125%;list-style:none;background:url(../images/sitemap/all_icon.gif) no-repeat; border-bottom:#d4d8db 1px solid; background-color:#f7f8fa;}
		
	#a_tech_supp{float:left;width:125px;height:200px;margin:0 0 0 17px;text-align:left;}
		.a_tech_supp_type li{padding:6px 0 2px 13px;line-height:125%;list-style:none;background:url(../images/sitemap/all_icon.gif) no-repeat; border-bottom:#d4d8db 1px solid; background-color:#f7f8fa;}	
		
	#a_tech_sos{float:left;width:125px;height:200px;margin:0 0 0 17px;text-align:left;}
		.a_tech_sos_type li{padding:6px 0 2px 13px;line-height:125%;list-style:none;background:url(../images/sitemap/all_icon.gif) no-repeat; border-bottom:#d4d8db 1px solid; background-color:#f7f8fa;}	
		
	#c_info_grnd{float:left;width:125px;height:200px;margin:0 0 0 17px;text-align:left;}
		.c_info_grnd_type li{padding:6px 0 2px 13px;line-height:125%;list-style:none;background:url(../images/sitemap/all_icon.gif) no-repeat; border-bottom:#d4d8db 1px solid; background-color:#f7f8fa;}	

	
	#all_menu_btn {float:right;padding:0px 30px 5px 0;}
	