#index dl {
	margin: 0;
}
#index dt {
	border: 1px solid #000;
	padding: 0 0.5rem;
	border-radius: 1rem;
	font-size: .8rem;
}
#index dd {
	margin: 0 0 0 1rem;
}
#index dd.sortable {
	cursor: move;
}
#index dd.subs {
	display: none;
}
