dl.tree {
	margin: 0;
}
dl.tree dt {
	border: 1px solid #000;
	padding: 0 0.5rem;
	border-radius: 1rem;
	font-size: .8rem;
}
dl.tree dd {
	margin: 0 0 0 1rem;
}
dl.tree dd.sortable {
	cursor: move;
}
dl.tree dd.subs {
	display: none;
}
