<?=$data->doctype?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><?=$data->title?></title>
		<?=$data->meta?>
		<?=$data->style?>
		<?=$data->js?>
	</head>
	<body id='<?=$data->controller?>'>
		<div id='container'>
			<div id='top'><?=$data->top?></div>
			<div id='middle'>
				<div id='left'><?=$data->left?></div>
				<div id='main'><?=$data->main?></div>
				<div id='right'><?=$data->right?></div>
			</div>
			<div id='bottom'><?=$data->bottom?></div>
		</div>
	</body>
</html>
