body, form, dl, ol, ul, dt, dd, li, p, input, button, h1,h2,h3,h4,h5,h6, table, tr, td {
	margin: 0;
	padding: 0;
}
dl, ol, ul {
	list-style: none;
}
img {
	border: 0;
	vertical-align: middle;
}
input, button {
	vertical-align: middle;
}
button {
border: 0;
background: #fff;
}
button, label {
cursor: pointer;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
table {
	border-collapse: collapse;
	width: 100%;
}
