#baseMenu {
	float: right;
	margin-top: 30px;
	margin-right: 50px;
}
#baseMenu li {
	float: left;
}
#baseMenu a {
	height: 16px;
	padding: 0 10px 0 8px;
	font: 500 10px verdana;
	color: #ffffff;
	line-height: 20px;
	background: url('/images/bulletRect.gif') no-repeat left 50%;
}
#baseMenu a:hover {
}
