<form method='post'>
<input type='hidden' name='mode' value='makeAll' />
	<dl class='dl01'>
		<dt>Program Parts</dt>
		<dd>
		<input type='radio' name='part' id='core' value='core' /><label for='core'>MadCore</label>
		<input type='radio' name='part' id='pg' value='pg' checked /><label for='pg'>MadProgram</label>
		<input type='radio' name='part' id='etc'  value='etc'/><label for='etc'>Etc Classes</label>
		</dd>
		<dt>Program Name</dt>
		<dd><input type='text' name='program_name' /></dd>
	</dl>
	<?=$this->listClass()?>
	<div class='buttons'>
	<button class='button01' type='submit'>Make</button>
	</div>
</form>
