<h1>Php Storm</h1>
<table class='adminTable'>
	<thead>
	<tr>
		<th>영문명</th>
		<th>이름</th>
		<th>author</th>
		<th>creator</th>
	</tr>
	</thead>
	<tbody>
	<? foreach( $openedProjects as $row ): ?>
	<tr>
		<td><?=$row->name?></td>
		<td><a href='~/project/open?file=<?=$row->file?>'><?=$row->label?></a></td>
		<td><?=$row->author?></td>
		<td><?=$row->creator?></td>
	</tr>
	</tbody>
<? endforeach; ?>
</table>
<? if ( $openedProjects->isEmpty() ) : ?>
<p class='noContent'>프로젝트가 없습니다.</p>
<? endif?>
