<h1>Svn list</h1>

<table class='adminTable'>
<thead>
	<tr>
		<th>이름</th>
		<th>설명</th>
		<th>위치</th>
		<th>상태보기</th>
		<th>update</th>
		<th>commit</th>
	</tr>
</thead>
<tbody>
	<? foreach ( $list as $row ): ?>
	<tr>
		<td><?=$row->name?></td>
		<td><?=$row->label?></td>
		<td><?=$row->location?></td>
		<td><a href='status?location=<?=$row->location?>'>status</td>
		<td><a href='update?location=<?=$row->location?>'>update</a></td>
		<td><a href='commit?location=<?=$row->location?>'>commit</a></td>
	</tr>
	<? endforeach; ?>
</tbody>
</table>

<form id='ListSearch' class='listSearch' method='get' action='?'>
	<button class='btnSubmit' type='submit'>검색</button>
</form>
