<h1><?=$model->label?> 목록</h1>

<? if ( $searchForms = $list->getSearchForms() ): ?> 
<form id='ListSearch' class='listSearch' method='get' action='?'>
	<ul>
	<? foreach( $searchForms as $formUnit ) : ?>
		<li><?=$formUnit->getLabel()?> <?=$formUnit?></li>
	<? endforeach; ?>
	</ul>
	<button class='btnSubmit' type='submit'>검색</button>
</form>
<? endif; ?>

<table class='adminTable'>
<thead>
	<tr>
		<? foreach ( $list->getSelectedHeaders() as $th ): ?>
		<th><?=$th?></th>
		<? endforeach; ?>
	</tr>
</thead>
<tbody>
	<? foreach ( $list as $model ): ?>
	<tr>
		<? foreach ( $model as $td ): ?>
		<td><?=$td?></td>
		<? endforeach; ?>
	</tr>
	<? endforeach; ?>
</tbody>
</table>

<? if ( $list->isEmpty() ) : ?>
	<p class='noContent'>리스트가 없습니다.</p>
<? endif; ?>

<?=$list->getPageNavi()?>

<ul class='naviButtons'>
	<li><a class='btnWrite' href="write">글 쓰기</a></li>
</ul>
