<h1>Manual View</h1>

<h2>
	about : <?=$model->getFile()?>
	<span class='datetime'><?=date('Y-m-d H:i:s', $model->getCTime() ) ?></span>
</h2>

<nav class='component'>
	<a href='./'><?=_("Index")?></a>
</nav>

<form id='ManualWrite' method='post' action='./save'>
	<input type='hidden' name='file' value='<?=$model->getFile()?>' />
	<input type='hidden' id='contents' name='contents' value='' />

	<section id='ManualView'>
	<? if ( $model->isFile() ) : ?>
	<?=$model ?>
	<? else: ?>
	<p class='notice'>No contents</p>
	<? endif; ?>
	</section>

	<nav class='buttons'>
		<button type='submit'>Save</button>
	</nav>
</form>
