#ManualView {
	border: 5px solid #ccc;
	padding: 20px;
	font-size: 15px;
}
#ManualView p {
margin: 10px;
}
#main pre b {
color: #f00;
}
dl.index {
position: absolute;
right: 20px;
top: 150px;
width: 300px;
background: #fff;
border: 2px solid #000;
border-radius: 10px;
padding: 7px;
}
dl.index dt {
	position: relative;
	border-bottom: 2px solid #000;
}
dl.index dt b {
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 11px;
cursor: move;
}
dl.index dd {
	padding: 7px 0;
}
dl.index dd nav a {
display: inline-block;
border: 1px solid #99f;
border-radius: 10px;
padding: 2px 5px;
margin: 3px;
font-size: 12px;
background: #eef;
}
dl.index dd nav a:hover {
text-decoration: none;
background: #ccf;
}
