.dateSelector {
	position: absolute;
	left: 30px;
	top: 30px;
	width: 142px;
	border: 1px solid #ccc;
	background: #ffe;
	font: 12px arial;
	z-index: 10;
}
.dateSelector * {
	float: left;
}
.dateSelector .year {
	cursor: pointer;
}
.dateSelector .month {
	cursor: pointer;
}
.dateSelector .days {
	float: left;
	width: 100%;
}
.dateSelector .days a {
	float: left;
	width: 20px;
	text-align: center;
	font: 12px arial;
	text-decoration: none;
	color: #333;
}
.dateSelector .days .sunday {
	color: #f66;
}
.dateSelector .days .saturday {
	color: #66f;
}
.yearSelector {
	left: 0px;
	top: 15px;
	width: 100%;
	z-index: 110;
	background: #eef;
}
.yearSelector a {
	padding: 3px;
	cursor: pointer;
}
.yearSelector .current {
	background: #ffe;
}
.monthSelector {
	width: 15px;
	height: 80px;
	z-index: 110;
	background: #eef;
}
.monthSelector a {
	width: 100%;
	cursor: pointer;
}
.monthSelector .current {
	background: #ffe;
}
