<h1>List</h1>

<table id='ComponentList' class='simple'>
	<thead>
		<tr>
			<th>id</th>
			<th>files</th>
			<th>buttons</th>
		</tr>
	</thead>
	<tbody>
	<? foreach( $index as $row ): ?>
	<tr>
		<th class='title'><a href='./view?id=<?=$row->id?>'><?=basename($row)?></a></th>
		<td>
			<ul>
				<? foreach( $row->getFiles() as $file ): ?>
				<? if ( is_dir($file) ) : ?>
				<li><a href='./index?file=<?=$file?>'><?=$file->getBasename()?></a></li>
				<? else: ?>
				<li><?=$file->getBasename()?></li>
				<? endif; ?>
				<? endforeach; ?>
			</ul>
		</td>
		<td class='buttons'>
			<a href='./view?id=<?=$row->id?>'>View</a>
			<a href='./write?id=<?=$row->id?>'>Edit</a>
			<a href='./delete?id=<?=$row->id?>'>Delete</a>
		</td>
	</tr>
	<? endforeach; ?>
	</tbody>
</table>

<? if ( $index->isEmpty() ) : ?>
<p class='notice'>No searched list.</p>
<? endif; ?>
