dl.component {
	border: 1px solid #000;
	background: url(component.png) no-repeat top 1rem right 1rem;
	padding: 1rem;
}
dl.component dt.title {
	text-align: center;
}
dl.component dt.title a {
	color: #008CBA;
}
dl.component dt a {
	display: inline;
	color: #000;
}
dl.component dd.interfaces {
}
dl.component dd.interfaces ,
dl.component dd.files {
	display: none;
}
